.date-picker-wrapper {
  position: absolute;
  z-index: 1000;
  width: 550px;
}

.date-picker-popover {
  min-width: 550px;
  position: relative;
}

.date-picker {
  width: 550px;

  .date-picker-year {
    text-align: center;
  }

  .date-picker-icon {
    display: inline-block;
    cursor: pointer;

    &:focus {
      outline: solid 1px color("blue", 50);
    }

    &.prev-month {
      position: absolute;
      left: 0px;
      top: 20px;
    }

    &.next-month {
      position: absolute;
      right: 0px;
      top: 20px;
    }
  }

  .month-arrows {
    position: relative;
  }

  .first, .second {
    display: inline-block;
  }

  .second {
    margin-left: 40px;
  }
}

