@peretz:registry=https://na.artifactory.swg-devops.com:443/artifactory/api/npm/wce-peretz-npm-local/
//na.artifactory.swg-devops.com:443/artifactory/api/npm/wce-peretz-npm-local/:_password=QUtDcDVaM2Z2ejgyOGdSZFJrTlprYUdoRDNvVTVremdTMlRjdURmaFlUSmt1R2pucUZINDNlalBhSER0cDlFTnhub3l1S2VmUA==
//na.artifactory.swg-devops.com:443/artifactory/api/npm/wce-peretz-npm-local/:username=zvonimir.fras@ibm.com
//na.artifactory.swg-devops.com:443/artifactory/api/npm/wce-peretz-npm-local/:email=Zvonimir.Fras@ibm.com
//na.artifactory.swg-devops.com:443/artifactory/api/npm/wce-peretz-npm-local/:always-auth=true
save-exact=true
