@import "../core/scss-tools";

.typeahead {
	position: relative;

	input {
		width: 100%;
	}

	.list-view {
		position: absolute;
		background: color("white", 0);
		z-index: 1000;
		width: 100%;

		.highlight {
			font-weight: bold;
			color: color("blue", 50);
		}
	}
}
