<p>demo controls</p>
<button (click)="update()">update rows</button>
<button (click)="deleteSelected()">delete selected</button>
<button (click)="cvis = !cvis">toggle col c</button>
<hr/>
<div class="table">
	<cdl-table 
		[rows]="availableRows"
		striped="true"
		(selectAll)="selectAll($event)"
		(selectRow)="select($event)">
		<cdl-column
			key="a" 
			title="A"
			width="200"
			(sort)="sortA($event)">
			<template #headerTemplate>A</template>
			<template #cellTemplate let-data="data">col 1 {{data}}</template>
		</cdl-column>
		<cdl-column
			key="b" 
			title="B"
			(sort)="sort($event)"
			resizeable="false">
			<template #headerTemplate>B</template>
			<template #cellTemplate let-data="data">column two {{data}}</template>
		</cdl-column>
		<cdl-column
			*ngIf="cvis"
			key="c"
			title="C"
			width="200">
			<template #headerTemplate>C</template>
			<template #cellTemplate let-data="data">{{data}}</template>
		</cdl-column>
	</cdl-table>
</div>