@import "../core/colors";
@import "../core/vars";
@import "../core/mixins";


.hamburger {
    float: left;
    padding: 12.5px 10px;
    background: $black;
    background: none;
  	border: none;
  	height: 48px;
  	margin: 0;

    @include hover-blue;
}

