@import "../core/colors";
@import "../core/vars";
@import "../core/mixins";


.hamburger {
    float: left;
    padding: 12px 10px;
    background: color("black", 100);
    background: none;
  	border: none;
  	height: 48px;
  	margin: 0;

    @include hover-blue;


}
:host-context(.a11y) .hamburger{
	svg{
		fill: color("black", 100);
	}
}

