@import "../core/scss-tools";


.hamburger {
    float: left;
    padding: 12px 10px;
    background: color("black", 100);
    background: none;
  	border: none;
  	height: 48px;
		margin: 0;
		width: 44px;

    @include hover-blue;


}
:host-context(.a11y) .hamburger{
	svg{
		fill: color("black", 100);
	}
}

