@import "../core/colors";
@import "../core/vars";
@import "../core/mixins";


.top-nav {
    background-color: color("gray", 80);
    top: 0;
    width: 100%;
    left: 0;
    z-index: 3;
	svg{
		fill: color("white", 0);
	}
    .top-nav-heading {
        text-decoration: none;
        font-family: "Helvetica Neue Roman for IBM", Helvetica, Arial, sans-serif;
        color: color("white", 0);
        display: inline-block;
        padding: 14px 0px 14px 12px;
        padding-right: 0px;
        @include hover-blue;
        span {
            display: inline-block;
        }
        .top-nav-brand {
            font-size: 15px;
			line-height: 1em;
            color: color("white", 0);
            margin: 0;
            padding-right: 10px;
            font-weight: 300;
        }
        .top-nav-badge {
            background-color: color("purple", 60);
            padding: 4px 10px;
            h2 {
                font-size: 15px;
                font-weight: 400;
            }
            margin-left: 10px;
            margin-right: 10px;
        }

        @include unselectable;
    }
    .top-nav-ibm {
        padding: 14px 20px 14px 30px;
        right: 0;
        position: absolute;
        display: inline-block;
    }
	.a11y &{

	}
}

:host-context(.a11y) .top-nav{
	border-bottom:1px solid color("black", 100);
	svg{
		fill: color("black", 100);
	}
}

:host /deep/ .menu-links {
    margin: 0;
    padding: 0;
    display: inline-block;
    li {
        display: inline-block;
        padding: 14px 10px 14px 10px;
        text-align: center;
        border: none;
        white-space: nowrap;
        color: color("white", 0);
        font-size: 15px;
        height: 48px;
        @include hover-blue;
        &:focus {
            background-color: color('blue', 50);
        }
    }
    svg {
        fill: color("white", 0);
    }
    .menu-icon {
        display: inline-block;
        padding-right: 12px;
        vertical-align: middle;
    }
    .chevron-down{
        display: inline-block;
        padding-left: 10px;
        vertical-align: middle;
    }
}

:host /deep/ .nav-links {
    float: right;
    padding-right: 88px;
}
