@import "../core/colors";
@import "../core/vars";
@import "../core/mixins";


.top-nav {
    background: $black;
    top: 0;
    width: 100%;
    z-index: 3;
    path {
        fill: $white;
    }
    .top-nav-heading {
        text-decoration: none;
        font-family: "Helvetica Neue Roman for IBM", Helvetica, Arial, sans-serif;
        color: $white;
        display: inline-block;
        padding: 12px 10px;
        @include hover-blue;
        span {
            display: inline-block;
        }
        .top-nav-brand {
            font-size: 15px;
            color: $white;
            margin: 0;
            padding-right: 10px;
            font-weight: 400;
        }
        .top-nav-badge {
            background-color: $purple60;
            padding: 4px 10px;
            h2 {
                font-size: 15px;
                font-weight: 400;
            }
        }

        @include unselectable;
    }
    .top-nav-ibm {
        padding: 14px 20px 14px 30px;
        right: 0;
        position: absolute;
        display: inline-block;
    }
}

