header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 44px;
  color: white;
  padding: 0 20px;
  font-size: 15px;
  background-color: #4178BE;
  &.error {
    background-color: #E71D32; 
  }
  h4 {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 44px;
  }
}

.icon-remove {
  cursor: pointer;
  padding: 2px;
  padding-bottom: 0;
  &:hover {
    padding-right: 1px;
    border: 1px solid white; 
  }
}
