.modal {
  position: absolute;
  min-height: 153px;
  top: 50%;
  left: 50%;
  background-color: white;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.15);
  &.size-xl {
    width: 980px; 
  }
  &.size-sm {
    width: 320px; 
  }
  &.size-md {
    width: 640px; 
  }
  &.size-lg {
    width: 900px; 
  }
  &.size-xxl {
    width: calc(100% - 60px); 
    height: calc(100% - 60px);
  }
}
