//
// Dropdown
// --------------------------------------------------


.dropdown-wrapper {
	position: relative;

	.dropdown-value {
		width: 100%;
		border: $dropdown-border;
		background-color: $dropdown-bg-color;
		color: $dropdown-color;
		text-align: left;
		position: relative;
		padding: $dropdown-padding;
		height: $dropdown-height;
		font-weight: $dropdown-font;

		&:hover, &:focus {
			background-color: $dropdown-bg-color-hover
		}

		&.open {
			z-index: 1001;
		}

		&.size-sm, .size-sm &{
			font-size: $dropdown-font-size-sm;
			height: $dropdown-height-sm;
		}
		&.size-lg, .size-lg &{
			padding: $dropdown-padding-lg;
			height:  $dropdown-height-lg;
		}

		.dropdown-icon {
			float: right;
			width: 16px;
			height: 16px;
			-ms-transform: rotate(0deg); /* IE 9 */
			-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
			transform: rotate(0deg);
			transition: transform 0.2s linear;

			&.open {
				-ms-transform: rotate(-180deg); /* IE 9 */
				-webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
				transform: rotate(-180deg);
			}
		}

		&:disabled {
			color: $dropdown-color-disabled;
			border: $dropdown-border-disabled;
			&:hover, &:focus {
				background-color:$dropdown-bg-color-disabled-hover;
				cursor: no-drop;
			}
		}
	}

	.dropdown-menu {
		position: absolute;
		z-index: 1000;
		display: none;
		min-width: 100%;
		background-color: $dropdown-submenu-bg-color;
		box-shadow: $default-box-shadow;
		left:0;

		// if we will use list-view etc
		li, .sub-menu-view li .item-wrapper .item, .item {
			border:0;
		}

		&.open {
			display: block;
		}
	}
}
