&.size-sm {
	.dropdown-selected-only {
		font-size: 12px;
	}
	.dropdown-filter-search {
		.search-icon {
			top: 11px;
			left: 17px;
			.icon {
				height: 14px;
				width: 14px;
			}
		}
		.input-field {
			height: 20px;
			font-size: 12px;
			padding: 0 28px;
			line-height: 20px;
		}
		.placeholder {
			top: 13px;
			left: 40px;
			font-size: 12px;
		}
		.search-cancel {
			top: 12px;
			height: 16px;
			width: 16px;
			.icon {
				height: 14px;
				width: 14px;
				position: relative;
			}
		}
	}
}

&.size-lg {
	.dropdown-selected-only {
		padding: 10px 20px;
	}
	.dropdown-filter-search {
		padding: 10px 20px;
		.search-icon {
			left: 32px;
		}
		.input-field {
			height: 30px;
		}
		.placeholder {
			left: 60px;
		}
		.search-cancel {
			right: 32px;
		}
	}
}

.dropdown-selected-only {
	padding: 10px;
	border-bottom: 1px solid color("gray", 10);
}

.dropdown-filter-search {
	position: relative;
	padding: 10px;
	border-bottom: 1px solid color("gray", 10);
	.search-icon {
		position: absolute;
	    top: 17px;
	    left: 20px;
		.icon {
			width: 16px;
			height: 16px;
		}
	}
	.input-field {
		padding: 0 36px;
		line-height: 30px;
	}
	.placeholder {
		font-style: italic;
		color: color("gray", 50);
		display: none;
		position: absolute;
		top: 17px;
		left: 50px;
		&.visible {
			display: block;
		}
	}
	.search-cancel {
		background: transparent;
		position: absolute;
		right: 20px;
		top: 16px;
		height: 18px;
		width: 18px;
		padding: 0;
		border: 1px solid transparent;
		opacity: 0;
		display: inline-flex;
		align-items: center;
		align-content: center;
		&:hover {
			border: 1px solid color("gray", 50);
		}
		&:focus {
			border: 1px solid color("gray", 50);
			opacity: 1;
		}
		.icon {
			width: 16px;
			height: 16px;
		}
		&.visible {
			opacity: 1;
		}
	}
}

.list .no-results {
	font-style: italic;
	color: color("gray", 50);
	&:hover {
		background-color: color("white", 0);
		&:before {
			border-left: 1px solid transparent;
		}
	}
}
html[dir=rtl] &, body[dir=rtl] & {
	.dropdown-filter-search {
		.search-icon {
			left: initial;
			right: 20px;
		}
		.input-field {
			padding-right: 40px;
		}
		.search-cancel {
			right: initial;
			left: 20px;
		}
	}
}
