&.size-sm .list li {
	padding: 2px 10px;
	font-size: $dropdown-font-size-sm;
	height: $dropdown-height-sm;
	.checkbox .label {
		width: 15px;
	}
}

&.size-lg .list li {
	padding: 10px 20px;
	height: $dropdown-height-lg;
}
.list {
	@extend .list-unstyled;
	li {
		padding: 7px 10px;
		height: 30px;
		margin-bottom: -1px;
		cursor: pointer;
		&:hover, &.selected, &:focus {
			margin: -1px 0;
			background-color: $listview-hover-bg;
			position: relative;
			z-index: 1;
			&:before{
				content:'';
				height: 100%;
				left:0;
				top:0;
				position: absolute;
				border-left: 1px solid color("blue", 50);
			}
		}

		.checkbox {
			display: inline-block;
			margin-right: 10px;
		    top: -1px;
			.size-sm & .label {
				width: 15px;
			}
			.label {
				width: 20px;
				background: color("white", 0);
			}
			.label:hover:before, input:focus + .label:before, .label:active:before {
				box-shadow: none;
			}
		}

		&.selected {
			color: $listview-selected-color;
			font-weight: bold;
			&:before{
				content:'';
				height: 100%;
				left:0;
				top:0;
				position: absolute;
				border-left: $listview-selected-border;
			}
		}
		&.disabled {
			&:hover, &:focus {
				background-color: color("white", 0);
			}
		}
		&:last-child {
			margin-bottom:0;
		}
		&:first-child {
			&:hover, &.selected, &:focus {
				margin-top:0;
			}
		}
	}
}

html[dir=rtl] & {
	.list {
		li {
			.checkbox {
				margin-left: 10px;
				margin-right: 0;
			}
		}
	}
}
