.sub-menu {
	&, ul{
        @extend .list-unstyled;
    }
	@include box-shadow($default-box-shadow);
	max-width: 250px;
	z-index: 1000;
	background-color: $submenu-bg;

	li {
		padding-left: 0px;
		margin-left: 0px;
		max-width: 250px;
		position: relative;

		.sub-menu-view {
			position: absolute;
			left: calc(100% + 2px);
			width: 100%;
			top: 0px;
			display: none;

			&.open {
				display: block;
			}
		}
	}
	.a11y &{
		border:1px solid color("black", 100);
	}
}

.sub-menu-item-wrapper {
	border-left: 2px solid transparent; // transparent border to prevent shifting
	background: $submenu-bg;
	&.disabled {
		color: color("gray", 20);
		cursor: no-drop;
		&:hover, &:focus {
			background-color: color("white", 0);
			border-left: 2px solid transparent;
			outline: none;
		}
	}
	&:hover, &:focus, &.selected {
		background-color: $submenu-hover-bg;
	}

	&.selected {
		border-left: 2px solid color("blue", 50);
		color: $submenu-selected-color;
		font-weight: bold;
	}

	&:focus {

	}

	.arrow {
		position: absolute;
		right: 10px;
	}

	.checked {
		float: right;
		position: relative;
		vertical-align: middle;
		@extend .badge;
		&:before{
			content:'';
			border-right: 1px solid color("white", 0);
			border-bottom: 1px solid color("white", 0);
			transform: rotate(45deg);
			position: absolute;
			left: 6px;
			top: 3px;
			height: 8px;
			width: 4px;
		}
	}
}
&.size-sm .sub-menu-item {
    padding: 2px 10px;
    font-size: $dropdown-font-size-sm;
    height: $dropdown-height-sm;
}

&.size-lg .sub-menu-item {
    padding: 10px 20px;
    height: $dropdown-height-lg;
}
.sub-menu-item {
	position: relative;
	padding: 7px 20px;
	height: 30px;
}
