.sub-menu {
	&, ul{
        @extend .list-unstyled;
    }
	@include box-shadow($default-box-shadow);
	max-width: 250px;
	z-index: 1000;
	background-color: $submenu-bg;

	li {
		padding-left: 0px;
		margin-left: 0px;
		max-width: 250px;
		position: relative;
		border-bottom: 1px solid white;
		&:last-child {
			border-bottom: none;
		}

		.sub-menu-view {
			position: absolute;
			left: 100%;
			z-index: -1;
			width: 100%;
			top: 0px;
			display: none;
		    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);

			&.open {
				display: block;
			}
		}
	}
	.a11y &{
		border:1px solid color("black", 100);
	}
}

.sub-menu-item-wrapper {
	background: $submenu-bg;
	&.disabled {
		&:hover, &:focus {
			cursor: not-allowed;
			background-color: color("white", 0);

			&:before{
				border-left: none;
			}
		}
	}

	&:hover, &.selected, &:focus {
		background-color: $listview-hover-bg;
		position: relative;
		z-index: 1;
		&:before{
			content:'';
			height: 100%;
			left: 0;
			top: 0;
			position: absolute;
			border-left: 1px solid color("blue", 50);
		}
	}

	&.has-items.selected {
		&:before {
			border-left-width: 1px;
		}
		font-weight: inherit;
	}

	&.selected {
		color: $listview-selected-color;
		font-weight: bold;
		&:before {
			content:'';
			height: 100%;
			left: 0;
			top: 0;
			position: absolute;
			border-left: $listview-selected-border;
		}
	}

	.arrow {
		position: absolute;
		right: 6px;
		height: 16px;
		width: 16px;
		top: 7px;
	}
}
&.size-sm {
	.sub-menu-item-wrapper {
		.arrow {
			width: 14px;
			height: 14px;
			top: 3px;
		}
	}
	.sub-menu-item {
		font-size: $dropdown-font-size-sm;
		height: $dropdown-height-sm;
	}
}


&.size-lg {
	.sub-menu-item-wrapper {
		.arrow {
			top: 12px;
			right: 16px;
		}
	}
	.sub-menu-item {
		padding: 10px 20px;
		height: $dropdown-height-lg;
	}
}
.sub-menu-item {
	position: relative;
	padding: 7px 10px;
	height: 30px;
	display: flex;
    align-items: center;
}

html[dir=rtl] &, body[dir=rtl] & {
	.sub-menu-item-wrapper {
		.arrow {
			right: initial;
			left: 10px;
			transform: rotate(180deg);
		}
	}
	.sub-menu {
		li {
			.sub-menu-view {
				left: initial;
				right: calc(100% + 2px);
			}
		}
	}
}
