&.size-sm .tree .item-wrapper .item {
    padding: 2px 10px;
    font-size: $dropdown-font-size-sm;
    height: $dropdown-height-sm;
}

&.size-lg .tree .item-wrapper .item {
    padding: 10px 20px;
    height: $dropdown-height-lg;
}
.tree{
    &, ul{
        @extend .list-unstyled;
    }
    .item-wrapper {
        border-left:2px solid transparent;
        .item{
            padding: 7px 20px 7px 0;
            height: 30px;
			position: relative;
        }
        &:hover, &:focus,  &.selected {
            background-color:$treeview-hover-bg;
        }
        .arrow {
            margin-left:-25px;
            margin-right: 5px;
            vertical-align: middle;
            transition: transform 0.1s linear;
			position: absolute;
			left: 0;
        }
        &.selected {
            border-left-color:$treeview-selected-border-color;
            font-weight: 700;
            color:$treeview-selected-color;
            .arrow {
                transform: rotate(90deg);
            }
        }
    }
	&.disabled {
		&:hover, &:focus {
			cursor: not-allowed;
			background: color("white", 0);
			border-left: 2px solid transparent;
		}
	}
    .checked {
		float: right;
		position: relative;
		vertical-align: middle;

        @extend .badge;
        &:before {
            content:'';
            border-right: 1px solid color("white", 0);
            border-bottom: 1px solid color("white", 0);
            transform: rotate(45deg);
            position: absolute;
            left: 6px;
            top: 3px;
            height: 8px;
            width: 4px;
        }
    }
	ul {
		display: none;
		&.open {
			display: block;
		}
	}

}
