&.size-sm .tree .item-wrapper {
	.item {
		font-size: $dropdown-font-size-sm;
		height: $dropdown-height-sm;
	}

	.arrow {
		width: 14px;
		height: 14px;
	}
}

&.size-lg .tree .item-wrapper .item {
    height: $dropdown-height-lg;
}
.tree{
    &, ul{
        @extend .list-unstyled;
		li {
			border-bottom: 1px solid white;
			&:last-child {
				border-bottom: none;
			}
		}
    }
    .item-wrapper {
        border-left: 2px solid transparent;
        .item{
            padding-right: 20px;
            height: 30px;
			position: relative;
			display: flex;
			align-items: center;
        }
        &:hover, &:focus,  &.selected {
            background-color:$treeview-hover-bg;
        }
        .arrow {
            margin-left:-25px;
            margin-right: 5px;
            vertical-align: middle;
            transition: transform 0.1s linear;
			position: absolute;
			left: 0;
			width: 16px;
			height: 16px;
        }
		&.has-items.selected {
			border-left-color: transparent;
			background-color: white;
			font-weight: inherit;
			&:hover, &:focus {
				background-color: $listview-hover-bg;
			}
		}
        &.selected {
            border-left-color: $treeview-selected-border-color;
            font-weight: 700;
            color: $treeview-selected-color;
            .arrow {
                transform: rotate(90deg);
            }
        }
    }
	&.disabled {
		&:hover, &:focus {
			cursor: not-allowed;
			background: color("white", 0);
			border-left: 2px solid transparent;
		}
	}
    .checked {
		float: right;
		position: relative;
		vertical-align: middle;

        @extend .badge;
        &:before {
            content:'';
            border-right: 1px solid color("white", 0);
            border-bottom: 1px solid color("white", 0);
            transform: rotate(45deg);
            position: absolute;
            left: 6px;
            top: 3px;
            height: 8px;
            width: 4px;
        }
    }
	ul {
		display: none;
		&.open {
			display: block;
			border-top: 1px solid white;
		}
	}
}
