&.size-sm .tree .item-wrapper {
	.item {
		font-size: $dropdown-font-size-sm;
		height: $dropdown-height-sm;
	}

	.arrow {
		width: 14px;
		height: 14px;
		top: 3px;
	}
}

&.size-lg .tree .item-wrapper {
	.item {
		height: $dropdown-height-lg;
	}
	.arrow {
		top: 12px;
	}
}
.tree{
    &, ul{
        @extend .list-unstyled;
		li {
			border-bottom: 1px solid white;
			&:last-child {
				border-bottom: none;
			}
		}
    }
    .item-wrapper {
        .item {
            padding-right: 20px;
            height: 30px;
			position: relative;
			display: flex;
			align-items: center;
        }

        &:hover, &.selected, &:focus {
			background-color: $listview-hover-bg;
			position: relative;
			z-index: 1;
			&:before{
				content:'';
				height: 100%;
				left: 0;
				top: 0;
				position: absolute;
				border-left: 1px solid color("blue", 50);
			}
		}
        .arrow {
            margin-left: -25px;
            margin-right: 5px;
            vertical-align: middle;
            transition: transform 0.1s linear;
			position: absolute;
			left: 0;
			top: 7px;
			width: 16px;
			height: 16px;
        }
		&.has-items.selected {
			border-left-color: transparent;
			background-color: white;
			font-weight: inherit;
			&:hover, &:focus {
				background-color: $listview-hover-bg;
				&:before {
					border-left: 1px solid color("blue", 50);
				}
			}
			&:before {
				border-left: 1px solid transparent;
			}
		}

		&.selected {
			color: $listview-selected-color;
			font-weight: bold;
			&:before {
				content:'';
				height: 100%;
				left: 0;
				top: 0;
				position: absolute;
				border-left: $listview-selected-border;
			}
			.arrow {
                transform: rotate(90deg);
            }
		}
    }

	&.disabled {
		&:hover, &:focus {
			cursor: not-allowed;
			background-color: color("white", 0);

			&:before{
				border-left: none;
			}
		}
	}
    .checked {
		float: right;
		position: relative;
		vertical-align: middle;

        @extend .badge;
        &:before {
            content:'';
            border-right: 1px solid color("white", 0);
            border-bottom: 1px solid color("white", 0);
            transform: rotate(45deg);
            position: absolute;
            left: 6px;
            top: 3px;
            height: 8px;
            width: 4px;
        }
    }
	ul {
		display: none;
		&.open {
			display: block;
			border-top: 1px solid white;
		}
	}
}
