.ellipsis {
	display: inline-block;
	overflow: hidden;
	width: 150px;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 5px;
}

.large-tooltip-number {
	font-size: 51px;
	margin: 0 15px 0 0;
	font-weight: 300;
}

.tooltip-date {
	font-weight: 300;
	margin: 6px 0;
}
