<h1>Tooltip</h1>
<template #customTooltip><div style="display: inline-block; width: 20px; height: 20px"><cdl-glyphicon icon="Alert" size="md"></cdl-glyphicon></div> Cool content <br/> another cool content</template>

<h3>Tooltip hover</h3>
<button cdlTooltip="I am a tooltip" placement="right" trigger="mouseenter" type="danger">Tooltip right</button>
<button cdlTooltip="I am a tooltip" trigger="mouseenter" type="warning">Tooltip Top</button>
<button cdlTooltip="I am a tooltip" placement="bottom" trigger="mouseenter">Tooltip Bottom</button>
<button cdlTooltip="I am a tooltip" placement="left" trigger="mouseenter">Tooltip Left</button>

<br/><br/><br/>

<h3>Tooltip click</h3>
<button cdlTooltip="I am a tooltip" placement="right"  type="danger">Tooltip right</button>
<button cdlTooltip="I am a tooltip" type="warning">Tooltip Top</button>
<button cdlTooltip="I am a tooltip" placement="bottom">Tooltip Bottom</button>
<button cdlTooltip="I am a tooltip" placement="left">Tooltip Left</button>

<br/><br/><br/>

<h3>Tooltip click with custome template</h3>
<button [cdlTooltip]="customTooltip" placement="right" type="danger">Tooltip right</button>
<button [cdlTooltip]="customTooltip" type="warning">Tooltip Top</button>
<button [cdlTooltip]="customTooltip" placement="bottom">Tooltip Bottom</button>
<button [cdlTooltip]="customTooltip" placement="left">Tooltip Left</button>
