@import '~carbon-components/scss/globals/scss/spacing';
@import '~carbon-components/scss/globals/scss/vars';

.bx--list-box{
    background: $ui-01;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    &:focus-within{
        box-shadow: 0 2px 0 0 $brand-01;
    }
    .bx--list-box__field{
        display: flex;
        flex-flow: row nowrap;
        padding-left: 0;
        &.no-selections{
            padding-left: $spacing-md;
        }
        &[aria-disabled=true]{
            opacity: 0.5;
            pointer-events: none;
        }
        .click-container{
            flex: auto;
            &.left-padded{
                padding-left: $spacing-2xs;
            }
        }
    }
    .bx--list-box__label{
        font-weight: normal;
        color: $ui-04;
        &.selected{
            font-weight: 600;
            color: $text-01;
        }
    }
    .bx--tag{
        margin-left: $spacing-xs;
        line-height: 0rem;
        background: $brand-01;
        color: $ui-01;
        svg.close-tag{
            fill: $ui-01;
            margin-top: -0.1rem;
        }
    }
}

