.n-chart {
	svg {
		overflow: visible;
	}
	display: block;
	height: 100%;
	width: 100%;
	svg text {
		font-weight: 300;
		font-size: 11px;
		fill: #AEAEAE;
	}
	table {
		height: 100%;
		width: 100%;
	}
	.chart-row {
		height: 99%;
		.chart-content {
			position: relative;
			width: 80%;
		}
		.legend-content {
			position: absolute;
			height: 100%;
			width: 20%;
			top: 50px;
		}
	}
	.legend-row {
		height: 1%;
		.legend {
			max-height: 55px;
			overflow-y: auto;
			.legend-link {
				color: #5A5A5A;
			}
			.legend-link:hover {
				color: #323232;
			}
		}
		.legend.link-view {
			overflow: hidden;
			height: 36px;
			float: none;
		}
	}
}

button.close--xs {
	width: 18px;
	height: 18px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-right: -4px;
	padding: 0;
	border: 1px solid transparent;
	background: transparent;
	cursor: pointer;
}
button.close--xs:focus, button.close--xs:hover {
	border-color: #777677;
}
button.close--xs .close_icon {
	width: 10px;
	height: 10px;
	fill: #777677;
}
