//
// Topnav
// --------------------------------------------------

// top-nav base styles
// -------------------------

.top-nav {
	width: 100%;
	z-index: $topnav-z-index;

	nav {
		position: relative;
		background-color: $topnav-bg-color;
		height: $topnav-height;
		font-size: $topnav-header-font-size;
		top: 0;
		width: 100%;
		left: 0;
		color: $topnav-color;
		padding-right: 68px;
		padding-left: 0;


		.top-nav-search-input {
			background: transparent;
			border: none;
			border-bottom: 1px solid color("white", 0);
			color: color("white", 0);
			margin-right: -3px;
			width: 220px;
		}
		.top-nav-link-item {
			color: $topnav-color;
			cursor: pointer;
			transition: background-color 0.2s ease-in-out;
			text-decoration: none;
			line-height: inherit;
			height: $topnav-height;
			border-top: 1px solid transparent;
			&:active {
				border-top: 2px solid color("white", 0);
			}
			&.top-nav-link-item-selected, &:hover, &:focus {
				fill: color("white", 0);
				color: color("white", 0);
				background-color: color("blue", 50);
				border-top: 1px solid color("white", 0);
			}
		}
		.hamburger.hamburger-selected {
			fill: color("white", 0);
			color: color("white", 0);
			background-color: color("blue", 50);
			border-top: 1px solid color("white", 0);
		}
		.top-nav-heading {
			display: inline-flex;
			align-items: center;
			align-content: center;
			padding: $topnav-title-padding;
			vertical-align: top;
			span {
				display: inline-block;
			}
			@include unselectable;
		}
		.top-nav-heading-no-hamburger {
			padding: $topnav-title-padding-no-hamburger;
		}
		.top-nav-badge {
			background-color: $topnav-badge-bg-color;
			padding: $topnav-badge-padding;
			margin: $topnav-badge-margin;
			height: $topnav-badge-height;
			color: $topnav-badge-color;
			line-height: inherit;
			float: right;
		}
		.top-nav-brand {
			font-size: $topnav-header-font-size;
			margin: $topnav-header-margin;
			line-height: inherit;
			font-weight: $topnav-header-font-family;
			display: inline-block;
		}
		.top-nav-ibm {
			padding: $topnav-ibm-logo-padding;
			position: absolute;
			right: 0;
			display: inline-block;
			height: $topnav-height;
			svg * {
				fill: color("gray", 30);
			}
		}
		.top-nav-product-title {
			padding: $topnav-product-title-padding;
			color: $topnav-product-title-color;
			position: absolute;
			@include unselectable;
		}
		.top-nav-divider {
			width: 1px;
			height: 20px;
			background: color("white", 0);
			margin: 12px 10px;
		}
		.top-nav-dropdown {
			background: $topnav-dropdown-bg-color;
			color: $topnav-dropdown-color;
			position: absolute;
			right: 0;
			white-space: normal;
			min-width: 150px;
			padding: 10px;
		}
	}
}
.top-nav-fixed {
	position: fixed;
}

.top-nav-links {
	@extend .list-unstyled;
    margin: 0;
    padding: 0;
	display: inline-block;
    li {
		float: left;
        text-align: center;
        white-space: nowrap;
		position: relative;
    }
	.top-nav-link-item {
		display: inline-block;
		padding: $topnav-links-padding;
		height: $topnav-height;
	}
    .menu-icon {
        display: inline-block;
        margin: $topnav-links-icon-margin;
		vertical-align: middle;
		> svg * {
			fill: $topnav-color;
		}
    }
	.menu-icon-only {
		margin: 0;
		width: 24px;  // it makes the icon hover/touch width == 44px
	}
}

.a11y .top-nav nav {
	border-bottom: 1px solid color("black", 100);
	svg * {
		fill: color("black", 100);
	}
}


html[dir=rtl], body[dir=rtl] {
	.top-nav nav {
		left: 0;
		padding-left: 68px;
		padding-right: 0;

		.hamburger {
			float: right;
		}
		.top-nav-search-input {
			margin-right: inherit;
			margin-left: -3px;
		}
		.top-nav-badge {
			float: right;
		}
		.top-nav-ibm {
			left: 0;
			right: auto;
		}
		.top-nav-dropdown {
			left: 0;
			right: auto;
		}
	}
	.top-nav-links {
		li {
			float: right;
		}
		.menu-icon {
			margin: $topnav-links-icon-margin-rtl;
		}
		.menu-icon-only {
			margin: 0;
		}
	}
}
///////////////////////////////////////

//
// 10) Top navigation
//
// - IBM logo
// - Brand
// - Dropdown
// - Search
// ====================================

$top-nav-ibm-color:       color("gray", 30) !default;
$top-nav-ibm-width:       38px !default;
$top-nav-ibm-padding-x:   $spacer map-get($spacers, 2) !default;

$top-nav-padding-right:   ($top-nav-ibm-width + nth($top-nav-ibm-padding-x, 1) + nth($top-nav-ibm-padding-x, 2)) !default;
$top-nav-padding-y:       14px !default;

$top-nav-height:  44px !default;
$top-nav-bg:      color("gray", 80) !default;
$top-nav-color:   color("white", 0) !default;

$top-nav-toggler-padding-x:         12px !default;
$top-nav-toggler-padding-y:         0 !default;
$top-nav-toggler-brand-padding-x:   map-get($spacers, 2) !default;

$top-nav-brand-padding-x:     $spacer !default;
$top-nav-brand-font-size:     $font-size-h5 !default;
$top-nav-brand-font-weight:   $font-weight-h5 !default;

$top-nav-link-padding-x:          map-get($spacers, 2) !default;
$top-nav-link-bg-hover:           color("blue", 50) !default;
$top-nav-link-box-shadow-hover:   inset 0 1px color("white", 0) !default;
$top-nav-link-box-shadow-active:  inset 0 3px color("white", 0) !default;

$top-nav-divider-bg:        color("white") !default;
$top-nav-divider-length:    20px !default;
$top-nav-divider-margin-y:  12px !default;
$top-nav-divider-margin-x:  map-get($spacers, 2) !default;

$top-nav-dropdown-divider-bg:   color("white", 0, 0.5) !default;
$top-nav-dropdown-bg:           color("blue", 50) !default;
$top-nav-dropdown-min-width:    175px !default;

$top-nav-dropdown-link-height:            30px !default;
$top-nav-dropdown-link-color:             color("white", 0) !default;
$top-nav-dropdown-link-bg-hover:          color("blue", 60) !default;
$top-nav-dropdown-link-box-shadow-hover:  inset 1px 0 color("white", 0) !default;

$top-nav-search-color:        color("white", 0) !default;
$top-nav-search-bg:           transparent !default;
$top-nav-search-height:       20px !default;
$top-nav-search-width:        220px !default;
$top-nav-search-font-weight:  $font-weight-roman !default;
$top-nav-search-border:       1px solid color("white", 0) !default;

///////////////////////////////////////
// Top navigation mixins
///////////////////////////////////////

@mixin m_clearfix {
	&::after {
	  display: block;
	  clear: both;
	  content: "";
	}
  }

  @mixin m_size($width, $height: $width) {
	width: $width;
	height: $height;
  }

  @mixin m_float-left {
	float: left !important;
  }

  @mixin m_float-right {
	float: right !important;
  }

  @mixin m_float-none {
	float: none !important;
  }

  @mixin m_fixed-hover-focus {
	&,
	&:focus,
	&:active,
	&:hover {
	  @content;
	}
  }

  @mixin m_list-unstyled {
	padding-left: 0;
	list-style: none;
  }

  @mixin m_text-truncate {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
  }

//
// Base styles
// ====================================

@mixin m_top-nav {
	@include m_clearfix;
	@include m_size(100%, $top-nav-height);

	position: relative;
	padding-right: $top-nav-padding-right;
	background: $top-nav-bg;
  }

  //
  // Links
  //
  // Hover, focus, and active styles.
  // ====================================

  @mixin m_top-nav-link {
	@include m_hover-focus {
	  background: $top-nav-link-bg-hover;
	  box-shadow: $top-nav-link-box-shadow-hover;
	}

	// Reset anchor
	@at-root a#{&} {
	  @include m_fixed-hover-focus {
		border-bottom: 0;
	  }
	}

	// Reset button
	@at-root button#{&} {
	  border: 0;
	  background: transparent;
	}

	&.active {
	  background: $top-nav-link-bg-hover;
	  box-shadow: $top-nav-link-box-shadow-active;

	  &:focus {
		box-shadow: $top-nav-link-box-shadow-hover;
	  }
	}
  }

  //
  // Dividers
  //
  // Used in menus and dropdowns.
  // ====================================

  @mixin m_top-nav-divider($direction, $color, $length: 100%) {
	background: $color;

	@if $direction == "vertical" {
	  @include m_size(1px, $length);
	} @else if $direction == "horizontal" {
	  @include m_size($length, 1px);
	}
  }


///////////////////////////////////////
// Top navigation
///////////////////////////////////////

//
// Nav variations
// ====================================

nav {
	&.top-nav {
	  @include m_top-nav;
	}

	&.top-nav--toggleable {
	  @include m_top-nav;
	}
  }

  //
  // Toggler
  //
  // Button for toggling the side navigation.
  // ====================================

  .top-nav_toggler {
	@include m_float-left;
	@include m_top-nav-link;

	height: $top-nav-height;
	padding: $top-nav-toggler-padding-y $top-nav-toggler-padding-x;
  }

  //
  // Brand
  //
  // Used for product suites or offering names.
  // ====================================

  .top-nav_brand {
	@include m_float-left;
	@include m_top-nav-link;

	.top-nav & {
	  padding-right: $top-nav-brand-padding-x;
	  padding-left: $top-nav-brand-padding-x;
	}

	.top-nav--toggleable & {
	  padding-right: $top-nav-toggler-brand-padding-x;
	  padding-left: $top-nav-toggler-brand-padding-x;
	}

	h1 {
	  margin: 0;
	  color: $top-nav-color;
	  font-size: $top-nav-brand-font-size;
	  font-weight: $top-nav-brand-font-weight;
	  line-height: $top-nav-height;
	}
  }

  //
  // Menu variations
  // ====================================

  .top-nav_menu-left {
	@include m_float-left;
  }

  .top-nav_menu-right {
	@include m_float-right;
  }

  //
  // Menu and child classes
  //
  // List items, links, and dividers.
  // ====================================

  .top-nav_menu-left,
  .top-nav_menu-right {
	@include m_list-unstyled;

	margin: 0;

	.menu_item {
	  @include m_float-left;

	  position: relative;
	  margin: 0;
	}

	.menu_item-search {
	  @include m_float-left;

	  display: flex;
	  align-items: center;

	  margin: 0;

	  input[type="search"] {
		@include m_hover-focus {
		  box-shadow: none;
		}
		@include m_size($top-nav-search-width, $top-nav-search-height);

		padding: 0;
		border: 0;
		border-bottom: $top-nav-search-border;

		background: $top-nav-search-bg;

		color: $top-nav-search-color;
		font-weight: $font-weight-roman;
	  }
	}

	.menu_link {
	  @include m_top-nav-link;

	  display: flex;
	  align-items: center;
	  justify-content: center;

	  min-width: $top-nav-height;
	  height: $top-nav-height;

	  padding-right: $top-nav-link-padding-x;
	  padding-left: $top-nav-link-padding-x;
	  border: 0;

	  color: $top-nav-color;
	  line-height: $top-nav-height;

	  .link_icon-text {
		margin-left: 7px;
	  }
	}

	.menu_divider {
	  @include m_float-left;
	  @include m_top-nav-divider("vertical", $top-nav-divider-bg, $top-nav-divider-length);

	  margin: $top-nav-divider-margin-y $top-nav-divider-margin-x;
	}
  }

  //
  // Menu dropdown classes
  //
  // List items, links, and dividers.
  // ====================================

  .top-nav_dropdown {
	position: absolute;
	right: 0;

	min-width: $top-nav-dropdown-min-width;
	background: $top-nav-dropdown-bg;

	z-index: $zindex-dropdown;

	.dropdown_link {
	  @include m_hover-focus {
		background: $top-nav-dropdown-link-bg-hover;
		box-shadow: $top-nav-dropdown-link-box-shadow-hover;
	  }
	  @include m_text-truncate;

	  display: block;
	  height: $top-nav-dropdown-link-height;

	  padding-right: $top-nav-link-padding-x;
	  padding-left: $top-nav-link-padding-x;

	  border: 0;

	  color: $top-nav-dropdown-link-color;
	  line-height: $top-nav-dropdown-link-height;
	}

	.dropdown_divider {
	  @include m_top-nav-divider("horizontal", $top-nav-dropdown-divider-bg);
	}
  }

  //
  // IBM logo
  // ====================================

  .top-nav_ibm {
	position: absolute;
	right: 0;

	height: $top-nav-height;

	padding-top: $top-nav-padding-y;
	padding-right: nth($top-nav-ibm-padding-x, 1);
	padding-bottom: $top-nav-padding-y;
	padding-left: nth($top-nav-ibm-padding-x, 2);

	fill: $top-nav-ibm-color;
  }
