@import "../core/colors";
@import "../core/vars";

$tabs-height: 39px;
$tabs-padding: 10px;
$tabs-margin: 15px;

.left-arrow, .right-arrow {
  display: none;
}

.is-over-flow {
  padding: 0px 23px 0px 20px;
  position: relative;

  .left-arrow {
    left: 0px;
    -webkit-box-shadow: 5px 0px 9px -5px $gray50;
    -moz-box-shadow: 5px 0px 9px -5px $gray50;
    box-shadow: 5px 0px 9px -5px $gray50;
    padding-right: 5px;
  }

  .right-arrow {
    right: 0px;
    -webkit-box-shadow: -5px 0px 9px -5px $gray50;
    -moz-box-shadow: -5px 0px 9px -5px $gray50;
    box-shadow: -5px 0px 9px -5px $gray50;
    padding-left: 5px;
  }

  .left-arrow, .right-arrow {
    display: inline-block;
    position: absolute;
    top: 5px;

    .st0 {
      fill: $gray50;
    }

    &:hover {
      .st0 {
        fill: $blue50;
      }
    }

    &.disabled {
      cursor: no-drop;
      box-shadow: none;
      .st0 {
        fill: $gray20;
      }
    }
  }
}

.cdl-tab-heading {
  display: block;
  height: $tabs-height;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  overflow: hidden;

  li {
    display: table-cell;
    white-space: nowrap !important;
    padding-left: $tabs-margin;

    a {
      text-align: center;
      line-height: $tabs-height;
      padding: 0px $tabs-padding 0px $tabs-padding;
      height: $tabs-height;
      display: inline-block;
      border-bottom: solid 3px transparent;
      color: $gray60;
      font-size: $font-size;

      &:hover, &:focus {
        text-decoration: none;
        border-bottom: solid 1px $blue50;
      }

      &.active-tab {
        border-bottom: solid 3px $blue50;
        font-weight: bold;

        &:focus {
          color: $blue50;
        }
      }

      &.disabled-tab {
        color: $gray20;

        &:hover, &:focus {
          border-bottom: solid 3px transparent;
          cursor: no-drop;
        }
      }
    }
  }
}

.cdl-tabs-content {
  padding: 20px;
}
