@import "../core/scss-tools";


$tabs-height: 39px;
$tabs-padding: 10px;
$tabs-margin: 15px;

.left-arrow, .right-arrow {
	display: none;
}

.is-over-flow {
	padding: 0px 30px 0px 30px;
	position: relative;
	overflow: hidden;

	.left-arrow {
		left: 0px;
		box-shadow: 5px 0px 9px -5px color("gray", 50);
		z-index: 1;
	}

	.right-arrow {
		right: 0px;
		box-shadow: -5px 0px 9px -5px color("gray", 50);
	}

	.left-arrow {
		padding-right: 10px;
		padding-left: 5px;
	}
	.right-arrow {
		padding-right: 5px;
		padding-left: 10px;
	}
	.left-arrow, .right-arrow {
		display: inline-flex;
		position: absolute;
		top: 0;
		height: 40px;
		background: color("white", 0);
		width: 30px;
		margin: 0;
		align-items: center;

		svg * {
			fill: color("gray", 50);
		}

		&:hover {
			svg * {
				fill: color("blue", 50);
			}
		}

		&.disabled {
			cursor: no-drop;
			box-shadow: none;
			svg * {
				fill: color("gray", 20);
			}
		}
	}
}

.n-tab-heading {
	display: inline;
	height: $tabs-height;
	list-style: none;
	padding-left: 0px;
	margin: 0px;
	position: relative;
	// overflow: hidden;
	transition: left 0.5s;
	left: 0px;
	&.touch-transition {
		transition: left 0s;
	}
	li {
		display: inline;
		white-space: nowrap !important;
		padding-left: $tabs-margin;

		a {
			// border: 1px solid black; //tmp
			text-align: center;
			line-height: $tabs-height;
			padding: 0px $tabs-padding 0px $tabs-padding;
			height: $tabs-height;
			border-bottom: solid 1px transparent;
			color: color("gray", 60);
			font-size: $font-size;
			display: inline-flex;
			align-items: center;
			align-content: center;
			position: relative;

			&:hover, &:focus {
				text-decoration: none;
				border-bottom: solid 1px color("blue", 50);
			}

			&.active-tab {
				border-bottom: solid 3px color("blue", 50);
				font-weight: bold;

				&:focus:after {
					background: color("blue", 50);
					width: 100%;
					display: block;
					content: "";
					height: 1px;
					position: absolute;
					bottom: 2px;
					left: 0;
				}
			}

			&.disabled-tab {
				color: color("gray", 20);

				&:hover, &:focus {
					border-bottom: solid 3px transparent;
					cursor: no-drop;
				}
			}
		}
	}
}

.n-tabs-content {
	padding: 20px;
}
