$browser-context: 16; // Default

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}


// Text overflow
// Requires inline-block or block for proper styling

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// outline error
@mixin outline-error{
	box-shadow: 0px 0px 0px 1px white, 0px 0px 0px 2px red;
	outline-offset: none;
}

//Neutrino Sass Mixins


// Changes element to blue on hover/focus. Changes svg fill to white to contrast.
@mixin hover-blue {
	fill: color("white", 0);
	&:hover {
		background-color: color("blue", 50);
	}
	&:focus {
		background-color: color("blue", 50);
	}
}


// Makes text unselectable
@mixin unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
