//
// Tables
// --------------------------------------------------

// Baseline styles
// ---------------------


.table {
	margin-bottom: 0;
	border-collapse: collapse;
	width: 100%;
	text-align: left;
	// Cells
	 > thead,
 	 > tbody,
	 > tfoot {
		> tr {
			> th,
			> td {
				height: $table-cell-height;
				border-top: 1px solid $table-row-border-color;
				border-right: 2px solid $table-header-border-color;
                padding: $table-cell-padding;
			}
		}
	}
	// Heading
	> thead > tr > th {
		background-color: $table-header-bg;
		color: $table-header-color;
		border-bottom: 0;
		font-weight:$table-header-font;
        border-top:0;
	}
	// Body
	> thead + tbody > tr {
		&:first-child > th,
		&:first-child > td {
			border-top: none;
		}
		> th,
		> td {
			border-right: 2px solid transparent;
		}
		&:hover{
			background-color:$table-cell-hover-bg;
		}
	}

    &.size-sm {
        font-size: $table-font-size-sm;
        > thead , > tbody, > tfoot{
			> tr{
				> th, > td{
					height:$table-cell-height-sm;
					padding: $table-cell-paddings-sm;
				}
			}
        }

    }

	&.size-md{
		font-size: $table-font-size-md;
		> thead , > tbody, > tfoot{
			> tr{
				> th, > td{
					height:$table-cell-height-md;
					padding: $table-cell-paddings-md;
				}
			}
		}
	}
}

.has-checkbox{
	tbody > tr, thead > tr{
		 > th:first-child,
		 > td:first-child {
			padding: $table-checkbox-col-padding;
			width: $table-checkbox-col-width;
			text-align:center;
			.checkbox{
				width:$table-checkbox-width;
				margin:0;
				label span:before{
					margin: 0
				}
			}
		}
	}
}

// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-stripped {
	tbody{
		tr:nth-child(odd){
			background-color:$table-stripped-bg-color;
		}
	}
}

