@import "../core/colors";
@import "../core/vars";

.calendar-month {
	text-align: center;
	width: 250px;
}

.calendar {
	width: 250px;
	height: 240px;
	display: inline-block;

	th {
		color: color("blue", 50);
		width: 30px;
		height: 30px;
		padding-left: 5px;
	}

	button {
		width: 30px;
		height: 30px;
		line-height: 30px;

		&.current-date {
			background: color("blue", 10);
		}

		&.selected-date {
			background: color("blue", 50);
			color: color("white", 0);
		}

		&:hover, &:focus {
			border-bottom: solid 4px color("blue", 50);
		}
	}
}
