@import "../../node_modules/@peretz/matter/scss/tools";

.calendar-month {
	width: 250px;
	text-align: center;
}

.calendar {
	display: inline-block;
	width: 250px;
	height: 240px;

	th {
		@include m_size(30px);

		padding-left: 5px;
		color: m_color("blue", 50);
	}

	button {
		@include m_size(30px);

		line-height: 30px;

		&.current-date {
			background-color: m_color("blue", 10);
		}

		&.selected-date {
			background-color: m_color("blue", 50);
			color: m_color("white");
		}

		&:hover,
		&:focus {
			border-bottom: solid 4px m_color("blue", 50);
		}
	}
}
