<h1>Date picker</h1>

<div style="display: inline-block; position: relative">
<input type="text" [(ngModel)]="cdlDatepicker.selectedDate" /><button class="btn" cdlDatepicker placement="bottom" #cdlDatepicker="cdlDatepicker"><cdl-glyphicon icon="Calendar" size="md"></cdl-glyphicon></button>
</div>

<div style="display: inline-block; position: relative">
<input type="text" [(ngModel)]="cdlDatepicker2.selectedDate" /><button class="btn" cdlDatepicker placement="top" #cdlDatepicker2="cdlDatepicker"><cdl-glyphicon icon="Calendar" size="md"></cdl-glyphicon></button>
</div>