<div
	class="bx--search"
	[ngClass]="{
		'bx--search--sm': size === 'sm',
		'bx--search--lg': size === 'md',
		'bx--search--xl': size === 'xl',
		'bx--search--light': theme === 'light',
		'bx--skeleton': skeleton,
		'bx--toolbar-search': toolbar,
		'bx--toolbar-search--active': toolbar && active
	}"
	role="search"
	[attr.aria-label]="ariaLabel"
	tabindex="0"
	(click)="openSearch()">
	<label class="bx--label" [for]="id">{{label}}</label>

	<div *ngIf="skeleton; else enableInput" class="bx--search-input"></div>
	<ng-template #enableInput>
		<input
			#input
			class="bx--search-input"
			[type]="tableSearch || !toolbar ? 'text' : 'search'"
			[id]="id"
			[value]="value"
			[autocomplete]="autocomplete"
			[placeholder]="placeholder"
			[disabled]="disabled"
			[required]="required"
			(input)="onSearch($event.target.value)"
			(keyup.enter)="onEnter()"/>
		<button
			*ngIf="!tableSearch && toolbar"
			class="bx--toolbar-search__btn"
			(click)="openSearch()"
			aria-label="Open search">
			<svg ibmIcon="search" size="16" class="bx--search-magnifier"></svg>
		</button>
		<svg
			ibmIcon="search"
			*ngIf="tableSearch || !toolbar"
			class="bx--search-magnifier"
			size="16">
		</svg>
	</ng-template>

	<button
		*ngIf="tableSearch || !toolbar"
		class="bx--search-close"
		[ngClass]="{
			'bx--search-close--hidden': !value || value.length === 0
		}"
		[title]="clearButtonTitle"
		(click)="clearSearch()">
		<span class="bx--visually-hidden">{{ clearButtonTitle }}</span>
		<svg ibmIcon="close" size="16"></svg>
	</button>
</div>
