$font-size: 14px;
$sm: 20px;
$md: 30px;
$lg: 40px;


//
// Colors
// --------------------------------------------------

//== Custom Colors.
$blue40-10:				#eef4fc;
$gray10-50:           	#efefef;
$blue60-50:				#3b6b9d;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               color("white", 0) !default;
//** Global text color on `<body>`.
$text-color:            color("gray", 60) !default;
//** Global textual link color.
$link-color:            color("blue", 50) !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      color("blue", 50) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;

// refactor fonts
//== Typography
//
//
//## Font, line-height, and color for body text, headings, and more.


$font-path: 'fonts/' !default;


$font-family-base:       "Helvetica Neue for IBM", Helvetica, Arial, sans-serif !default;


$font-light:            100 !default; // Helvetica light
$font-roman:            300 !default; // Helvetica roman
$font-roman-bold:       400 !default; // Helvetica roman bold
$font-medium:           500 !default; // Helvetica Medium
$font-bold:             700 !default; // Helvetica Bold


$font-size-main:		rem(14) !default;

$font-size-h1:          rem(36) !default;
$font-size-h2:          rem(22) !default;
$font-size-h3:          rem(17) !default;
$font-size-h4:          rem(15) !default;
$font-size-h5:          $font-size-h4 !default;
$font-size-h6:          rem(13) !default;

$line-height-difference: 4 !default; // em

$line-height-h1:		rem(36 + $line-height-difference) !default;
$line-height-h2:		rem(22 + $line-height-difference) !default;
$line-height-h3:		rem(17 + $line-height-difference) !default;
$line-height-h4:		rem(15 + $line-height-difference) !default;
$line-height-h5:		$line-height-h4 !default;
$line-height-h6:	    rem(13 + $line-height-difference) !default;

$line-height-main:      rem(16 + $line-height-difference) !default;


//== Alerts
//
//## Define alert colors, border radius, and padding.

$alert-height:				44px !default;
$alert-padding:				0 10px !default;
$alert-border-radius:		none !default;
$alert-border-width:		1px !default;
$alert-link-font-weight:	700 !default;
$alert-font-color:			color("gray", 80) !default;

$alert-icon-margin:			0 10px 0 0 !default;
$alert-icon-font-size:		22px !default;
$alert-close-margin:		0 0 0 20px !default;

$alert-success-bg:            mix(color("green", 10), color("white", 0), 25%) !default;
$alert-success-text:          $alert-font-color !default;
$alert-success-border:        color("green", 50) !default;
$alert-success-icon:          color("green", 50) !default;

$alert-info-bg:               mix(color("blue", 10), color("white", 0), 25%) !default;
$alert-info-text:             $alert-font-color !default;
$alert-info-border:           color("blue", 30) !default;
$alert-info-icon:             color("blue", 30) !default;

$alert-warning-bg:            mix(color("yellow", 10), color("white", 0), 25%) !default;
$alert-warning-text:          $alert-font-color !default;
$alert-warning-border:        color("yellow", 10) !default;
$alert-warning-icon:          color("yellow", 10) !default;

$alert-danger-bg:             mix(color("red", 10), color("white", 0), 25%) !default;
$alert-danger-text:           $alert-font-color !default;
$alert-danger-border:         color("red", 50) !default;
$alert-danger-icon:           color("red", 50) !default;




//** Box shadow value for modals, popovers, dropdowns, tooltips, etc.
$default-box-shadow:	          0 0 10px color("black", 100, $alpha: 0.16) !default;
$default-box-shadow-overlayed:    0 0 10px color("black", 100, $alpha: 0.08) !default; // for arrows


//== Popovers
//
//## Define

$popover-header-padding: 	7px 14px !default;
$popover-header-height: 	45px !default;
$popover-header-bg: 		color("blue", 50) !default;
$popover-title-color: 		color("white", 0) !default;

$popover-content-padding: 	20px !default;
$popover-arrow-width:		20px !default;
$popover-arrow-height:		10px !default;

//== tooltips
//
//## Define

$tooltip-padding: 	8px 15px 10px 15px !default;
$tooltip-border: 	1px solid color("gray", 10) !default;
$tooltip-max-width: 200px !default;
$tooltip-min-width: 146px !default;

$tooltip-highlight-border-width:	4px !default;


//== Form
//
//## Define input colors, border radius, and padding.

$input-field-font: 300 !default; // Helvetica Roman

$input-field-border: 1px solid color("gray", 50) !default;
$input-field-color:			   color("gray", 60) !default;

$input-field-border-hover: 	   color("gray", 50) !default;
$input-field-border-focus: 	   color("gray", 50) !default;
$input-field-border-disabled:  color("gray", 50) !default;
$input-field-color-disabled:   color("gray", 50) !default;


// sizes
$input-field-height:     30px !default;
$input-field-height-sm:  20px !default;
$input-field-height-lg:  40px !default;

//padding
$input-field-padding: 	 0 10px !default;
$input-field-padding-lg: 0 20px !default;

//textarea
$text-area-padding: 	 10px !default;
$text-area-height: 	     114px !default;


//== Radio
//
//## Define Radio colors, border radius, and padding.

$radio-type:            radio !default;
$radio-label-margin:    10px !default;
$radio-size:            20px !default;
$radio-border-radius:   20px !default;
$radio-selected-width:  12px !default;
$radio-selected-height: $radio-selected-width !default;

// small radio
$radio-sm-width:           16px !default;
$radio-sm-height:          $radio-sm-width !default;
$radio-selected-sm-width:  9px !default;
$radio-selected-sm-height: $radio-selected-sm-width !default;


//== Checkbox
//
//## Define checkbox colors, border radius, and padding.

$checkbox-type:            checkbox !default;
$checkbox-label-margin:    10px !default;
$checkbox-size:            20px !default;
$checkbox-border-radius:   0px !default;
$checkbox-selected-width:  12px !default;
$checkbox-selected-height: 6px !default;

// small checkbox
$checkbox-sm-width:           15px !default;
$checkbox-sm-height:          15px !default;
$checkbox-selected-sm-width:  10px !default;
$checkbox-selected-sm-height: 5px !default;


//== Switch
//
//## Define Switch colors, border, and padding.


$switch-bottom-margin: 10px !default;


$switch-height:  30px !default;
$switch-width:   65px !default;
$switch-padding: 5px !default;
$switch-label-margin: 10px !default;

$switch-bg-color: color("gray", 50) !default;
$switch-border-radius: 50px !default;

$switch-hover-bg-color:    color("gray", 60) !default;
$switch-active-bg-color:   color("blue", 50) !default;
$switch-disabled-bg-color: color("gray", 20) !default;

$switch-innerbtn-disabled-bg-color: color("gray", 50) !default;



//== list-view
//
//## Define list-view colors, border, and padding.

$listview-bg:          color("white", 0) !default;
$listview-padding:     11px 20px !default; // padding is 11 to make it 40 pixel height

$listview-border:      1px solid color("gray", 10) !default;
$listview-hover-bg:    color-tint(color("blue", 40), 90) !default;

$listview-active-border-color:  color("white", 0) !default;
$listview-selected-border:		2px solid color("blue", 50) !default; // left border
$listview-selected-color: 		$text-color !default;

//== tree-view
//
//## Define tree-view colors, border, and padding.

$treeview-padding:     10px !default;

$treeview-border:      1px solid color-tint(color("gray", 10), 50) !default;
$treeview-hover-bg:    color-tint(color("blue", 40), 90) !default;

$treeview-selected-border-color: color("blue", 50) !default; // left border
$treeview-selected-color:        $text-color !default;


//== Submenu
//
//## Define Submenu colors, border, and padding.

$submenu-padding:     10px 20px !default; // padding is 10 to make it 40 pixel height

$submenu-bg:		  color("white", 0) !default;
$submenu-border:      1px solid color-tint(color("gray", 10), 50) !default;
$submenu-hover-bg:    color-tint(color("blue", 40), 90) !default;

$submenu-selected-border-color: color("blue", 50) !default; // left border
$submenu-selected-color:        $text-color !default;



//== buttons
//
//## Define buttons colors, border, and padding.

$btn-border-width:  2px !default;
$btn-height-sm:		20px !default;
$btn-height:		30px !default;
$btn-height-lg:		40px !default;
$btn-height-xlg:	50px !default;
$btn-font--size-sm: rem(12) !default;
$btn-padding: 		0 20px !default;
$btn-font: 			$font-roman !default; // roman



// btns array could be changed to variables
$btns: (
    primary: (
        color: 		     color("white", 0),
        bg:  	         color("blue", 50),
        brd-color:       color("blue", 50),
        hover:           unquote('inset 0px 0px 0px 1px #{color("blue", 50)}, inset 0px 0px 0px 2px #{color("white", 0)}'),
        color-disabled:  color("gray", 50),
        bg-disabled:     transparent,
        brd-disabled:    color("gray", 50)
    ),
    secondary: (
        color:           color("blue", 50),
        bg:              color("white", 0),
        bg-hover:        color-tint(color("blue", 40), 90),
        hover:           unquote('inset 0px 0px 0px 1px #{color("white", 0)}, inset 0px 0px 0px 2px #{color("blue", 50)}'),
        brd-color:       color("blue", 50),
        color-disabled:  color("gray", 50),
        bg-disabled:     transparent,
        brd-disabled:    color("gray", 50),
        bg-focus:        color("blue", 60),
        color-focus:     color("white", 0),
        color-active:    color("white", 0),
        bg-active:       color("blue", 50)
    ),
    primary-bt: (
        color:           color("blue", 50),
        bg:              color("white", 0),
        brd-color:       color("white", 0),
        color-hover:     color("blue", 60),
        bg-hover:        color("white", 0),
        hover:           unquote('inset 0px 0px 0px 1px #{color("white", 0)}, inset 0px 0px 0px 2px #{color("blue", 50)}'),
        color-disabled:  color("white", 0),
        bg-disabled:     transparent,
        brd-disabled:    color("white", 0)
    ),
     secondary-bt: (
        color:           color("white", 0),
        bg:              transparent,
        brd-color:       color("white", 0),
        color-hover: 	 color("white", 0),
        bg-hover: 		 color-tint(color("blue", 60), 50),
        hover:           unquote('inset 0px 0px 0px 1px #{color("blue", 50)}, inset 0px 0px 0px 2px #{color("white", 0)}'),
        color-disabled:  color("white", 0),
        bg-disabled: 	 transparent,
        brd-disabled: 	 color("white", 0),
        bg-active: 		 color("white", 0),
        color-active: 	 color("blue", 50),
        color-focus: 	 color("blue", 60),
        bg-focus:        color("white", 0)
    )
) !default;



//== Dropdowns
//
//## Define dropdowns colors, border, and padding.

$dropdown-font:      $font-roman !default;

$dropdown-height: 	 30px !default;
$dropdown-height-sm: 20px !default;
$dropdown-height-lg: 40px !default;

$dropdown-padding: 		0 10px !default;
$dropdown-padding-lg: 	0 20px !default;

// sizes
$dropdown-font-size-sm: rem(12) !default;

//colors
$dropdown-color: 		  color("gray", 60) !default;
$dropdown-border: 		  1px solid  color("gray", 50) !default;
$dropdown-bg-color: 	  color("white", 0) !default;
$dropdown-bg-color-hover: color("blue", 40, $alpha: 0.10) !default;

$dropdown-submenu-bg-color:  color("white", 0) !default;

//bg-disabled
$dropdown-color-disabled:          color("gray", 50) !default;
$dropdown-border-disabled: 		   1px dashed color("gray", 50) !default;
$dropdown-bg-color-disabled-hover: color("white", 0) !default;


//== Topnav
//
//## Define topnav colors, border, and padding.

$topnav-bg-color:  color("gray", 80) !default;
$topnav-color: 	   color("white", 0) !default;

$topnav-height: 44px !default;

$topnav-title-padding: 12px 10px 14px 12px !default;
$topnav-title-padding-no-hamburger: 12px 20px 14px 20px !default;
$topnav-z-index: 3 !default;

// top nav badge
$topnav-badge-bg-color:  color("purple", 60) !default;
$topnav-badge-color: $topnav-color !default;
$topnav-badge-padding: 4px 10px !default;
$topnav-badge-height: 24px !default;
$topnav-badge-margin: -2px 0 -2px 20px !default;

// main title anchor
$topnav-header-color: $topnav-color !default;
$topnav-header-font-size: 14px !default;
$topnav-header-margin:0 !default;
$topnav-header-font-family: $font-roman !default;

$topnav-ibm-logo-padding: 14px 20px 14px 10px !default;

// inner links styles
$topnav-links-padding: 12px 10px 14px 10px !default;
$topnav-links-icon-margin: 0 7px 0 0 !default;

//top-nav product title
$topnav-product-title-padding: 13px 19px 13px 19px !default;
$topnav-product-title-color: color('gray', 40) !default;




//== Sidenav
//
//## Define sidenav

$sidenav-width: 260px;
$sidenav-item-height: 44px;





//== table
//
//## Define table colors, border, and padding.


$table-header-bg:   color-tint(color("gray", 10), 50) !default;
$table-header-font: $font-bold !default;
$table-header-border-color: color("white", 0) !default;
$table-header-color: color("black", 100) !default;

$table-row-border-color: color("gray", 10) !default;
$table-cell-hover-bg: color("blue", 40, $alpha: 0.10) !default;

//Default tables
$table-cell-height:  40px !default;
$table-cell-padding: 12px 20px !default;


// Medium tables
$table-cell-paddings-md:  8px 10px !default;
$table-cell-height-md:    30px !default;
$table-font-size-md:      rem(13) !default;

// small tables
$table-cell-paddings-sm:  6px 5px !default;
$table-cell-height-sm:    25px !default;
$table-font-size-sm:      rem(12) !default;

$table-striped-bg-color: color("gray", 1, $alpha:0.25); // tint isn't working with 75 .. not getting the right color

// checkbox in table
$table-checkbox-col-padding: 5px !default;
$table-checkbox-col-width:   30px !default;
$table-checkbox-width:       20px !default;

//==  modal
//
//## Define modal colors, border, and padding.

// modal
$modal-bg: color("white", 0) !default;
$modal-wrapper-height: 100vh !default;
$modal-wrapper-width: 100vw !default;
$modal-wrapper-padding: 20px !default;
$modal-min-height: 153px !default;

// modal sizes
$modal-size-sm: 320px !default;
$modal-size-md: 640px !default;
$modal-size-lg: 900px !default;
$modal-size-xl: 980px !default;
$modal-size-xxl: 100% !default;
$modal-size-height-xxl: 100% !default;

// modal header
$modal-header-bg: color("blue", 50) !default;
$modal-header-error-bg: color("red", 50) !default;
$modal-header-text: color("white", 0) !default;
$modal-header-width: 100% !default;
$modal-header-height: 44px !default;
$modal-header-padding: 0 20px !default;
$modal-header-font-size: 15rem !default;
$modal-header-text-margin: 0 !default;
$modal-header-text-padding: 0 !default;
$modal-header-text-height: 100% !default;
$modal-header-text-line-height: 44px !default;

// modal icon
$modal-icon-remove-padding: 2px !default;
$modal-icon-remove-padding-bottom: 0 !default;
$modal-icon-remove-hover-padding-right: 1px !default;
$modal-icon-remove-hover-border: 1px solid !default;
$modal-icon-remove-hover-border-color: color("white", 0) !default;

// modal footer
$modal-footer-height: 50px !default;
$modal-footer-width: 100% !default;
$modal-footer-padding: 10px 20px !default;
$modal-footer-border-top: 1px solid !default;
$modal-footer-border-top-color: color("gray", 10) !default;

// modal overlay
$modal-overlay-bg: color("gray", 80, $alpha: 0.5) !default;
$modal-overlay-height: 100% !default;
$modal-overlay-width: 100% !default;

// modal close icon
$modal-close-icon-height: 18px !default;
$modal-close-icon-width: 18px !default;
$modal-close-icon-padding: 0 !default;
$modal-close-icon-svg-height: 14px !default;
$modal-close-icon-svg-width: 14px !default;
$modal-close-icon-svg-colour: color("white", 0) !default;
$modal-close-icon-border: 1px solid !default;
$modal-close-icon-border-color: color("white", 0) !default;


