.bx--list-box__menu-item{
    &:hover{
        text-decoration: none;
    }
    &.bx--list-box__menu-item--highlighted{
        text-decoration: none;
    }
    .checkbox-wrapper{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .bx--checkbox-label{
            // width: 80%;
            span.sec-content{
                // width: 50%;
                color: #888888;
            }
        }
    }
}