.table-container {
	height: calc(100% + 40px);
	font-size: 14px;
	/*line-height: 40px;*/
	font-family: sans-serif;
    color: #323232;
}

.check-column {
	width: 60px;
    text-align: center;
}

.check-column .checkbox {
    width: 20px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    white-space: nowrap;
    table-layout: fixed;
}