@import "../core/scss-tools";

.table-pagination {
	display: inline-block;

	.page-number, .main-arrow {
		display: inline-block;
		color: color("gray", 60);
		fill: color("gray", 60);
		line-height: 20px;
		cursor: pointer;
		text-align: center;
	}

	.page-number {
		min-width: 25px;
		margin-right: 5px;

		&.selected {
			color: white;
			background-color: color("blue", 50);
			cursor: auto;
		}
	}

	.main-arrow {
		width: 20px;
	}
}
