table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    white-space: nowrap;
    table-layout: fixed;
}

thead tr {
    height: 40px;
}

thead th {
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	background: rgba(224,224,224,0.5);
    border-left: 1px solid white;
    /* fix for firefox not rendering borders correctly*/
    background-clip: padding-box;
    position: relative;
}

th .resizer {
    display: inline-block;
    width: 15px;
    height: 100%;
    position: absolute;
    right: -5px;
    top: 0;
    cursor: col-resize;
}

thead th:hover {
    background: rgba(224,224,224,0.3);
}

thead th .col-actions {
    /*float: right;*/
    position: absolute;
    right: 20px;
    top: 10px;
}

thead th .checkbox {
    width: 20px;
    margin: 0 auto;
}

.check-column {
    width: 60px;
}

table thead tr:hover {
    background: none;
}

thead th:first-of-type {
    border-left: none;
}