@font-face {
  font-family: 'Helvetica Neue for IBM';
  src:	url('fonts/roman/helvetica-neue-roman.eot?') format('eot'),
      	url('fonts/roman/helvetica-neue-roman.woff2') format('woff2'),
  		url('fonts/roman/helvetica-neue-roman.woff') format('woff'),
  		url('fonts/roman/helvetica-neue-roman.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue for IBM';
  src:	url('fonts/roman-italic/helvetica-neue-roman-italic.eot?') format('eot'),
  		url('fonts/roman-italic/helvetica-neue-roman-italic.woff2') format('woff2'),
  		url('fonts/roman-italic/helvetica-neue-roman-italic.woff') format('woff'),
  		url('fonts/roman-italic/helvetica-neue-roman-italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
