@font-face {
  font-family: 'Helvetica Neue for IBM';
  src:	url('fonts/light/helvetica-neue-light.eot?') format('eot'),
  		url('fonts/light/helvetica-neue-light.woff2') format('woff2'),
  		url('fonts/light/helvetica-neue-light.woff') format('woff'),
  		url('fonts/light/helvetica-neue-light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue for IBM';
  src:	url('fonts/light-italic/helvetica-neue-light-italic.eot?') format('eot'),
  		url('fonts/light-italic/helvetica-neue-light-italic.woff2') format('woff2'),
  		url('fonts/light-italic/helvetica-neue-light-italic.woff') format('woff'),
  		url('fonts/light-italic/helvetica-neue-light-italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
