@font-face {
  font-family: 'Helvetica Neue for IBM';
  src:	url('fonts/medium/helvetica-neue-medium.eot?') format('eot'),
  		url('fonts/medium/helvetica-neue-medium.woff2') format('woff2'),
  		url('fonts/medium/helvetica-neue-medium.woff') format('woff'),
  		url('fonts/medium/helvetica-neue-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue for IBM';
  src:	url('fonts/medium-italic/helvetica-neue-medium-italic.eot?') format('eot'),
  		url('fonts/medium-italic/helvetica-neue-medium-italic.woff2') format('woff2'),
  		url('fonts/medium-italic/helvetica-neue-medium-italic.woff') format('woff'),
  		url('fonts/medium-italic/helvetica-neue-medium-italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
