//for list-view menu items if projecting
@import "./../../../src/core/colors";
@import "./../../../src/core/mixins";

:host /deep/ .list-view {
    margin: 0;
    padding: 0;
    display: inline-block;
    li {
		display: inline-block;
        padding: 15px 7px 16px 7px;
        text-align: center;
        border: none;
        white-space: nowrap;
        color: color("white", 0);
        font-size: 15px;
        height: 100%;
        @include hover-blue;
    }
}
