cdl-label, .form-container {
	max-width: 300px;
	display: block;
}

.indent {
	margin-left: 20px;
	display: block;
}

.select-clear-example {
	margin-top: 15px;
	p {
		margin: 0;
		font-weight: 500;
		color: #343334;
	}
}
