//
// Checbox
// --------------------------------------------------


// Mixins
// -------------------------
@import './forms.mixins';
.ng-invalid.ng-touched, .is-error{
	label input + span{
		&:before{
			@include outline-error;
		}
	}
}

 //tri-state
cdl-checkbox:indeterminate label input[type="checkbox"] {
	+ span {
		&:after{
			opacity: 1;
			transform: none;
			height:2px;
			top:9px;
		}
	}
}

// checkbox
.checkbox{
	@include radio-checkbox($checkbox-type,
							$checkbox-size,
							$checkbox-border-radius,
							$radio-label-margin,
							$checkbox-selected-width,
							$checkbox-selected-height,
							$checkbox-sm-width,
							$checkbox-sm-height,
							$checkbox-selected-sm-width,
							$checkbox-selected-sm-height);

	//tri-state
	input[type="checkbox"]:indeterminate {
		+ span {
			&:after{
				opacity: 1;
				transform: none;
				height:2px;
				top:9px;
			}
		}
	}
}

