//
// Forms
// --------------------------------------------------


// label

label {
    color: color("gray", 80);
    font-weight: $font-medium;
    &.disabled, .disabled & {
        color: $input-field-color-disabled;
    }
}

.label-top {
    display: flex;
    clear: both;
    margin-bottom: 10px;
	margin-top: 10px;
}

.label-icon {
	margin-right: 7px;
}

.label-icon-success {
	fill: $alert-success-icon;
}

.label-icon-warning {
	fill: $alert-warning-icon;
}

.label-icon-error {
	fill: $alert-danger-icon;
}

// text field
.input-field {
	width: 100%;
    font-weight: $input-field-font;
    border: $input-field-border;
    color: $input-field-color;
    height: $input-field-height;
    padding: $input-field-padding;

	&.input-field-success {
		@include box-shadow(inset 0 0 0 1px color("white", 0), inset 0 0 0 2px $alert-success-icon)
	}

	&.input-field-warning {
		@include box-shadow(inset 0 0 0 1px color("white", 0), inset 0 0 0 2px $alert-warning-icon)
	}

	&.input-field-error {
		@include box-shadow(inset 0 0 0 1px color("white", 0), inset 0 0 0 2px $alert-danger-icon)
	}

    &:hover {
        border-color: $input-field-border-hover;
    }

    &:focus {
        outline:0;
        @include box-shadow(inset 0 0 0 1px color("white", 0), inset 0 0 0 2px color("blue", 50))
    }
    &:disabled {
        border-color: $input-field-border-disabled;
        border-style: dashed;
        color: $input-field-color-disabled;
    }
    @at-root input#{&} {
        .size-sm & , &.size-sm{
            height: $input-field-height-sm;
        }
        .size-lg &, &.size-lg{
            height: $input-field-height-lg;
            padding: $input-field-padding-lg;
        }
    }
    // textarea
    @at-root textarea#{&} {
		padding: $text-area-padding;
        height: $text-area-height;
    }
	&.ng-invalid.ng-touched, &.is-error {
		@include outline-error;
	}

}

html[dir=rtl], body[dir=rtl] {
	.label-icon {
		margin-right: 0px;
		margin-left: 10px;
	}
}
