//
// Forms
// --------------------------------------------------


// label

label {
    color: color("gray", 80);
    font-weight: $font-medium;
    &.disabled, .disabled & {
        color: $input-field-color-disabled;
    }
}

.label-top {
    display: flex;
    clear: both;
    margin-bottom: 10px;
	margin-top: 20px;
}

.label-icon {
	margin-right: 7px;
}

.label-icon-success {
	fill: $banner-success-icon;
}

.label-icon-warning {
	fill: $banner-warning-icon;
}

.label-icon-error {
	fill: $banner-danger-icon;
}

// text field
.input-field {
	width: 100%;
    font-weight: $input-field-font;
    border: $input-field-border;
    color: $input-field-color;
    height: $input-field-height;
    padding: $input-field-padding;

	&.input-field-success {
		@include box-shadow(inset 0 0 0 1px color("white", 0), inset 0 0 0 2px $banner-success-icon)
	}

	&.input-field-warning {
		@include box-shadow(inset 0 0 0 1px color("white", 0), inset 0 0 0 2px $banner-warning-icon)
	}

	&.input-field-error {
		@include box-shadow(inset 0 0 0 1px color("white", 0), inset 0 0 0 2px $banner-danger-icon)
	}

    &:hover {
        border-color: $input-field-border-hover;
    }

    &:focus {
        outline:0;
        @include box-shadow(inset 0 0 0 1px color("white", 0), inset 0 0 0 2px color("blue", 50))
    }
    &:disabled {
        border-color: $input-field-border-disabled;
        border-style: dashed;
        color: $input-field-color-disabled;
    }
    @at-root input#{&} {
        .size-sm & , &.size-sm{
            height: $input-field-height-sm;
        }
        .size-lg &, &.size-lg{
            height: $input-field-height-lg;
            padding: $input-field-padding-lg;
        }
    }
    // textarea
    @at-root textarea#{&} {
		padding: $text-area-padding;
        height: $text-area-height;
    }
	&.ng-invalid.ng-touched, &.is-error {
		@include outline-error;
	}

}

.filter-search {
	position: relative;
	display: inline-block;
	.search-icon {
		position: absolute;
	    top: 7px;
	    left: 10px;
		.icon {
			width: 16px;
			height: 16px;
		}
	}
	.input-field {
		padding: 0 36px;
		line-height: 30px;
	}
	.placeholder {
		font-style: italic;
		color: color("gray", 50);
		display: none;
		position: absolute;
		top: 8px;
		left: 40px;
		&.visible {
			display: block;
			pointer-events: none;
		}
	}
	.search-cancel {
		background: transparent;
		position: absolute;
		right: 10px;
		top: 6px;
		height: 18px;
		width: 18px;
		padding: 0;
		border: 1px solid transparent;
		opacity: 0;
		display: inline-flex;
		align-items: center;
		align-content: center;
		&:hover {
			border: 1px solid color("gray", 50);
		}
		&:focus {
			border: 1px solid color("gray", 50);
			opacity: 1;
		}
		.icon {
			width: 16px;
			height: 16px;
		}
		&.visible {
			opacity: 1;
		}
	}
}

html[dir=rtl], body[dir=rtl] {
	.label-icon {
		margin-right: 0px;
		margin-left: 10px;
	}
}
