//
// Switch
// --------------------------------------------------

// needs refactoring

.switch {
	margin-bottom:$switch-bottom-margin;
	label {
		display: inline-block;
		span{
			vertical-align: middle;
		}
		input[type=checkbox] {
			opacity: 0;
			position: absolute;
			& + span {
				text-align: left;
				display: inline-block;
				position: relative;
				height: $switch-height;
				width: $switch-width;
				background-color: $switch-bg-color;
				border-radius: $switch-border-radius;
				padding: $switch-padding;
				transition: padding 0.3s ease, background 0.3s ease;
				margin-left: $switch-label-margin;
				&:hover, &.hover{
					box-shadow: inset 0px 0px 0px 2px $switch-bg-color, inset 0px 0px 0px 3px color("white", 0);
				}
				&:before {
					position: absolute;
				    left: 15px;
				    top: 5px;
				    content: "";
				    opacity: 0;
				    transition: opacity 0.3s ease;
				    height: 16px;
				    width: 8px;
				    border-right: 2px solid color("white", 0);
				    border-bottom: 2px solid color("white", 0);
				    transform: rotate(45deg);
				}
				&:after {
					width: 20px;
					height: 20px;
					content: "";
					display: inline-block;
					background-color: color("white", 0);
					border-radius:$switch-border-radius;
				}
			}
			&:checked + span {
				padding-left: 40px;
				background-color: $switch-active-bg-color;
				&:hover {
					box-shadow: inset 0px 0px 0px 2px color("blue", 50), inset 0px 0px 0px 3px color("white", 0);
				}
				&:before {
					opacity: 1;
				}
			}
			&:disabled + span, &.disabled + span{
				padding-top: 4px; // to fix the button looking stupid (might also be fixed by adding a transparent border)
				background-color: transparent;
    			cursor: not-allowed;
    			border-style: dashed;
			    border-width: 1px;
			    &:hover, &.hover{
			    	box-shadow: none;
			    }
				&:after{
					background-color: transparent;
				    border-style: dashed;
				    border-width: 1px;
				}
				&:before{
					border-color: $switch-innerbtn-disabled-bg-color;
				}
			}
		}
	}
}

// Switch size
// ------------

.size-sm .switch, .size-sm.switch {
	label {
		input[type=checkbox] {
			& + span {
				padding: 3px;
				height: 20px;
				&:hover, &.hover {
					box-shadow: inset 0px 0px 0px 1px $switch-bg-color, inset 0px 0px 0px 2px color("white", 0);
				}
				&:before {
					top: 0px;
					left: 18px
				}
				&:after {
					width: 14px;
					height: 14px;
				}
			}
			&:checked + span {
				padding-left: 46px;
			}
			&:disabled + span, &.disabled + span{
				padding-top: 2px;
			}
		}
	}
}


// theme-blue
// ------------
.theme-blue .switch {
	label {
		.label {
			color: color("white", 0);
		}
		input[type=checkbox] {
			& + span {
				&:hover, &.hover{
					box-shadow: inset 0px 0px 0px 2px color("white", 0), inset 0px 0px 0px 3px color("blue", 50);
				}
				background-color: color("white", 0);
				&:before{
					border-color: color("blue", 50);
				}
				&:after {
					background-color: color("blue", 50);
				}
			}
			&:disabled + span, &.disabled + span {
				background-color: transparent;
				&:hover, &.hover{
			    	box-shadow: none;
			    }
				&:before{
					border-color: color("white", 0);
				}
			}
		}
	}
}

// Accessibility
// -------------

.ac11y {
	.switch {
		label{
			input[type=checkbox] {
				& + span {
					padding:3px 5px;
					border:1px solid  color("black", 100);
					&:after {
						border:1px solid color("black", 100);
					}
				}
				&:checked + span{
					padding-left: 37px;
				}
			}
		}
	}
	.size-sm .switch{
		label{
			input[type=checkbox] + span {
				&:after {
					margin-top: -2px;
					}
				}
			}
		}
}


