<h1>Core CSS Demo</h1>

<h2>Primary buttons</h2>

<button class="btn size-sm">Button</button>
<button class="btn">Button</button>
<button class="btn size-lg">Button</button>
<br>

<h2>Secondary buttons</h2>

<button class="btn btn-secondary size-sm">Button</button>
<button class="btn btn-secondary">Button</button>
<button class="btn btn-secondary size-lg">Button</button>
<br>

<br>

<h2>Btns group</h2>
<div aria-label="" class="btn-group clearfix" role="group">
	<button class="btn active">Standard</button>
	<button class="btn">Standard</button>
	<button class="btn " disabled="disabled">Standard</button>
</div>

<h2>Btns secondary group</h2>
<div aria-label="" class="btn-group  btn-secondary  clearfix" role="group">
	<button class="btn active">Standard</button>
	<button class="btn">Standard</button>
	<button class="btn " disabled="disabled">Standard</button>
</div>


<br>
<h2>Forms</h2>
<br>
<div class="form-container">
	<label class="label label-top" for="">Field Small</label>
	<input type="text" class="input-field size-sm">
</div>
<br>
<div class="form-container">
	<label class="label  label-top" for="">Field</label>
	<input type="text" class="input-field">
</div>
<br>
<div class="form-container">
	<label class="label label-top" for="">Field Large</label>
	<input type="text" class="input-field size-lg">
</div>
<br>

<div class="form-container">
	<label class="label label-top" for="">Textarea </label>
	<textarea class="input-field"></textarea>
</div>
<br>

<h2>checkbox</h2>
<div class="checkbox">
	<label>
		<input type="checkbox">
		<span  class="label">test</span>
	</label>
</div>

<div class="checkbox">
	<label>
		<input type="checkbox" >
		<span class="label">Checkbox</span>
	</label>
</div>


<div class="checkbox">
	<label>
		<input type="checkbox" class="ng-invalid ng-touched">
		<span class="label">Checkbox</span>
	</label>
</div>

<br>

<h2>Radiobox</h2>
	<div class="radio">
		<label for="r1">
			<input type="radio" name="rg1" id="r1" checked>
				<span class="label">Radio Box 1</span>
		</label>
	</div>
	<div class="radio">
		<label for="r2">
			<input type="radio" name="rg1" id="r2" class="ng-invalid ng-touched">
			<span  class="label">Radio Box 2</span>
		</label>
	</div>

<br>

<div class="switch">
	<label>
		<input type="checkbox" checked>
		<span></span>
	</label>
</div>
<div class="switch">
	<label>
		<span>test</span>
		<input type="checkbox">
		<span></span>
	</label>
</div>
