<button class="sm">Button</button>
<button>Button</button>
<button class="lg">Button</button>
<br>

<button class="secondary sm">Button</button>
<button class="secondary">Button</button>
<button class="secondary lg">Button</button>
<br>

<button class="action">Button</button>
<button class="action selected">Button</button>
<br>

<div class="button-group">
	<button class="secondary">Button</button>
	<button class="secondary">Button</button>
	<button class="secondary">Button</button>
</div>
<br><br>

<input type="text" class="sm">
<input type="text">
<input type="text" class="lg">
<br>

<input type="number">
<br>

<textarea></textarea>
<br>

<div class="checkbox">
	<label>
		<input type="checkbox">
		<span>test</span>
	</label>
</div>
<div class="checkbox">
	<label>
		<input type="checkbox">
		<span></span>
	</label>
</div>
<br>

<form>
	<div class="radio">
		<input type="radio" name="rg1" id="r1" checked>
		<label for="r1"></label>
	</div>
	<div class="radio">
		<input type="radio" name="rg1" id="r2">
		<label for="r2"></label>
	</div>
</form>
<br>

<div class="switch">
	<label>
		<input type="checkbox" checked>
		<span></span>
	</label>
</div>
<div class="switch">
	<label>
		<span>test</span>
		<input type="checkbox">
		<span></span>
	</label>
</div>
