@mixin btn-variant($btnName, $focusDifferent:false, $active:false){
    $maincolor: map-get($btns, $btnName);
    @function getColor($val){
        @return map-get($maincolor, $val);
    }

    color: getColor(color);
    background-color: getColor(bg);
    border-color: getColor(brd-color);

    @mixin hover{
        color: getColor(color-hover);
        box-shadow: getColor(hover);
    }
    &:hover {
         @include hover;
     }
    @if $active == true {
        &.active{
            background-color: getColor(bg-active);
            color: getColor(color-active);
        }
    }

    @if $focusDifferent == true {
        &:focus{
            background-color: getColor(bg-focus);
            color: getColor(color-focus);
        }
    } @else {
        &:focus{
            @include hover;
        }
    }

    &.disabled, &[disabled] {
        background-color: getColor(bg-disabled);
        color: getColor(color-disabled);
        border-style: dashed;
        border-color: getColor(brd-disabled);
        box-shadow: none;
    }
}
