@import "colors";
@import "vars";

button {
	cursor: pointer;
	font-size: $font-size;
	padding-left: 20px;
	padding-right: 20px;
	border: 2px solid $blue50;
	color: $white;
	background: $blue50;
	height: $md;
	margin: 1px;
	line-height: $font-size;
	transition: all 0.1s;
	&.sm {
		height: $sm;
		font-size: $font-size - 2;
		line-height: $font-size - 2;
	}
	&.lg {
		height: $lg;
	}
	&:hover, &:focus {
		background: $blue60;
		border: 2px solid $blue60;
	}
	&:active {
		background: $blue70;
	}
	&.secondary {
		color: $blue50;
		background: $white;
		&:hover, &:focus {
			background: rgba($blue40, 0.10);
		}
		&:active {
			background: $blue60;
			color: $white;
		}
	}
	&.action {
		color: $gray60;
		border: none;
		background: white;
		outline: 1px solid $white;
		outline-offset: 1px;
		&:hover {
			color: $blue50;
		}
		&:focus {
			outline: 1px solid $blue50;
			outline-offset: 1px;
		}
		&.selected {
			color: $blue50;
			border-bottom: 2px solid $blue50;
		}
	}
	&.clear-button {
		background: transparent;
		padding: 0px;
		border: none;
		cursor: pointer;
	}
}

.button-group {
	margin: 1px;
	button:first-child {
		margin-left: 0px;
	}
	button {
	    margin: 0;
	    float: left;
	    margin-left: -1px;
	    &:focus {
		}
	}
}