@import "colors";
@import "vars";


button{
	appearance:none;
	-webkit-appearance:none;
	background: none;
	border:0;
}
button.btn {
	cursor: pointer;
	font-size: $font-size;
	padding-left: 20px;
	padding-right: 20px;
	border: 2px solid color("blue", 50);
	color: color("white", 0);
	background: color("blue", 50);
	height: $md;
	margin: 1px;
	line-height: $font-size;
	transition: all 0.1s;
	&.sm {
		height: $sm;
		font-size: $font-size - 2;
		line-height: $font-size - 2;
	}
	&.lg {
		height: $lg;
	}
	&:hover, &:focus {
		background: color("blue", 60);
		border: 2px solid color("blue", 60);
	}
	&:active {
		background: color("blue", 70);
	}
	&.secondary {
		color: color("blue", 50);
		background: color("white", 0);
		&:hover, &:focus {
			background: rgba(color("blue", 40), 0.10);
		}
		&:active {
			background: color("blue", 60);
			color: color("white", 0);
		}
	}
	&.action {
		color: color("gray", 60);
		border: none;
		background: white;
		outline: 1px solid color("white", 0);
		outline-offset: 1px;
		&:hover {
			color: color("blue", 50);
		}
		&:focus {
			outline: 1px solid color("blue", 50);
			outline-offset: 1px;
		}
		&.selected {
			color: color("blue", 50);
			border-bottom: 2px solid color("blue", 50);
		}
	}
	&.clear-button {
		background: transparent;
		padding: 0px;
		border: none;
		cursor: pointer;
	}
}

.button-group {
	margin: 1px;
	button:first-child {
		margin-left: 0px;
	}
	button {
	    margin: 0;
	    float: left;
	    margin-left: -1px;
	    &:focus {
		}
	}
}
