////////////////////////////////
//                            //
// IBM Design Language        //
// Color Palette              //
//                            //
////////////////////////////////
$blue:        #4178BE;
$blue10:      #C0E6FF;
$blue20:      #7CC7FF;
$blue30:      #5AAAFA;
$blue40:      #5596E6;
$blue50:      #4178BE;
$blue60:      #325C80;
$blue70:      #264A60;
$blue80:      #1D3649;
$blue90:      #152935;
$blue100:     #010205;
$green:       #4B8400;
$green10:     #C8F08F;
$green20:     #B4E051;
$green30:     #8CD211;
$green40:     #5AA700;
$green50:     #4B8400;
$green60:     #2D660A;
$green70:     #144D14;
$green80:     #0A3C02;
$green90:     #0C2808;
$green100:    #010200;
$teal:        #008571;
$teal10:      #A7FAE6;
$teal20:      #6EEDD8;
$teal30:      #41D6C3;
$teal40:      #00B4A0;
$teal50:      #008571;
$teal60:      #006D5D;
$teal70:      #005448;
$teal80:      #003C32;
$teal90:      #012B22;
$teal100:     #000202;
$purple:      #9855D4;
$purple10:    #EED2FF;
$purple20:    #D7AAFF;
$purple30:    #BA8FF7;
$purple40:    #AF6EE8;
$purple50:    #9855D4;
$purple60:    #734098;
$purple70:    #562F72;
$purple80:    #412356;
$purple90:    #311A41;
$purple100:   #030103;
$magenta:     #DB2780;
$magenta10:   #FFD2FF;
$magenta20:   #FF9EEE;
$magenta30:   #FF71D4;
$magenta40:   #FF3CA0;
$magenta50:   #DB2780;
$magenta60:   #A6266E;
$magenta70:   #7C1C58;
$magenta80:   #601146;
$magenta90:   #3A0B2E;
$magenta100:  #040102;
$red:         #E71D32;
$red10:       #FFD2DD;
$red20:       #FFA5B4;
$red30:       #FF7D87;
$red40:       #FF5050;
$red50:       #E71D32;
$red60:       #AD1625;
$red70:       #8C101C;
$red80:       #6E0A1E;
$red90:       #4C0A17;
$red100:      #040001;
$orange:      #FF7832;
$orange10:    #FFD4A0;
$orange20:    #FFA573;
$orange30:    #FF7832;
$orange40:    #FF5003;
$orange50:    #D74108;
$orange60:    #A53725;
$orange70:    #872A0F;
$orange80:    #6D120F;
$orange90:    #43100B;
$orange100:   #030100;
$yellow:      #FDD600;
$yellow10:    #FDE876;
$yellow20:    #FDD600;
$yellow30:    #EFC100;
$yellow40:    #BE9B00;
$yellow50:    #8C7300;
$yellow60:    #735F00;
$yellow70:    #574A00;
$yellow80:    #3C3200;
$yellow90:    #281E00;
$yellow100:   #020100;
$gray:        #777677;
$gray10:      #E0E0E0;
$gray20:      #C7C7C7;
$gray30:      #AEAEAE;
$gray40:      #959595;
$gray50:      #777677;
$gray60:      #5A5A5A;
$gray70:      #464646;
$gray80:      #323232;
$gray90:      #121212;
$gray100:     #000000;
$cool-gray:    #6D7777;
$cool-gray10:  #DFE9E9;
$cool-gray20:  #C8D2D2;
$cool-gray30:  #AEB8B8;
$cool-gray40:  #959F9F;
$cool-gray50:  #6D7777;
$cool-gray60:  #586262;
$cool-gray70:  #3C4646;
$cool-gray80:  #323C3C;
$cool-gray90:  #0D1111;
$cool-gray100: #000203;
$warm-gray:    #7D7373;
$warm-gray10:  #E9E0E0;
$warm-gray20:  #D0C7C7;
$warm-gray30:  #B8AEAE;
$warm-gray40:  #9E9494;
$warm-gray50:  #7D7373;
$warm-gray60:  #645A5A;
$warm-gray70:  #504646;
$warm-gray80:  #3C3232;
$warm-gray90:  #1A1314;
$warm-gray100: #030000;
$neutral-white:     #FDFDFD;
$neutral-white10:   #FDFDFD;
$neutral-white20:   #F9F9F9;
$neutral-white30:   #F4F4F4;
$neutral-white40:   #ECECEC;
$cool-white:     #FBFCFC;
$cool-white10:   #FBFCFC;
$cool-white20:   #F9F9FB;
$cool-white30:   #F0F2F4;
$cool-white40:   #ECF2F2;
$warm-white:     #FDFBFB;
$warm-white10:   #FDFBFB;
$warm-white20:   #FDFBFB;
$warm-white30:   #F7F5F5;
$warm-white40:   #F2EEEE;
$black:     #000000;
$white:     #FFFFFF;