//normalize
@import "normalize";

@import "vars";
@import "colors";


body {
	font-family: sans-serif;
	font-size: $font-size;
	color: $gray60;
	font-weight: 400;
}

//link styles
a {
  color: $blue50;
  text-decoration: none;
  &:visited {
    color: $blue50;
  }
  &:focus, &:hover {
    text-decoration: underline;
  }
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Use in conjunction with .sr-only to only display content when it's focused.
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate

.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}


//set a nice box model
* {
	box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

//Remove outline for focus state of all elements
*:focus {
	outline: none;
}

button{
	cursor:pointer
}

.hidden {
  display: none;
}
