@import "vars";
@import "colors";


.switch {
	label {
		display: inline-block;
		span {
			vertical-align: middle;
		}
		input[type=checkbox] {
			opacity: 0;
			position: absolute;
			margin: 0;
			& + span:last-child {
				text-align: left;
				display: inline-block;
				position: relative;
				height: 30px;
				width: 65px;
				background: color("gray", 50);
				border-radius: 50px;
				padding: 5px;
				transition: padding 0.3s ease, background 0.3s ease;
				margin: 0 10px;
				&:hover {
					background: color("gray", 60);
				}
				&:before {
					position: absolute;
				    left: 15px;
				    top: 5px;
				    line-height: 30px;
				    content: "";
				    opacity: 0;
				    transition: opacity 0.3s ease;
				    height: 14px;
				    width: 8px;
				    border-right: 1px solid color("white", 0);
				    border-bottom: 1px solid color("white", 0);
				    transform: rotate(45deg);
				}
				&:after {
					width: 20px;
					height: 20px;
					content: "";
					display: inline-block;
					background: color("white", 0);
					border-radius: 50px;
				}
			}
			&:checked + span:last-child {
				padding-left: 40px;
				background: color("blue", 50);
				&:hover {
					background: color("blue", 60);
				}
				&:before {
					opacity: 1;
				}
			}
		}
	}
}
