@import "vars";
@import "colors";

input {
	font-size: $font-size;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	min-width: 280px;
	margin: 2px;
	border: 1px solid $gray50;
	color: $gray60;
	&.sm {
		height: 20px;
	}
	&.md {
		height: 30px;
	}
	&.lg {
		height: 40px;
	}
	&:focus {
		outline: 1px solid $blue50;
	    outline-offset: 1px;
	}
}





textarea {
	color: $gray60;
	font-size: $font-size;
	padding: 10px;
	border: 1px solid $gray50;
	height: 114px;
	width: 385px;
	transition: all 0.1s;
	margin: 2px;
	&:focus {
		outline: 1px solid $blue50;
	    outline-offset: 1px;
	}
}

.switch {
	label {
		display: inline-block;
		span {
			vertical-align: middle;
		}
		input[type=checkbox] {
			opacity: 0;
			position: absolute;
			margin: 0;
			& + span:last-child {
				text-align: left;
				display: inline-block;
				position: relative;
				height: 30px;
				width: 65px;
				background: $gray50;
				border-radius: 50px;
				padding: 5px;
				transition: padding 0.3s ease, background 0.3s ease;
				margin: 0 10px;
				&:hover {
					background: $gray60;
				}
				&:before {
					position: absolute;
				    left: 15px;
				    top: 5px;
				    line-height: 30px;
				    content: "";
				    opacity: 0;
				    transition: opacity 0.3s ease;
				    height: 14px;
				    width: 8px;
				    border-right: 1px solid $white;
				    border-bottom: 1px solid $white;
				    transform: rotate(45deg);
				}
				&:after {
					width: 20px;
					height: 20px;
					content: "";
					display: inline-block;
					background: $white;
					border-radius: 50px;
				}
			}
			&:checked + span:last-child {
				padding-left: 40px;
				background: $blue50;
				&:hover {
					background: $blue60;
				}
				&:before {
					opacity: 1;
				}
			}
		}
	}
}
