$font-size: 14px;
$sm: 20px;
$md: 30px;
$lg: 40px;


//
// Colors
// --------------------------------------------------

//== Custom Colors.
$blue40-10:				#eef4fc;



// refactor fonts
//== Typography
//
//
//## Font, line-height, and color for body text, headings, and more.

$font-size-base:		rem(14);

$font-size-h1:          rem(36);
$font-size-h2:          rem(22);
$font-size-h3:          rem(17);
$font-size-h4:          rem(15);
$font-size-h5:          $font-size-h4;
$font-size-h6:          rem(13);

$line-height-difference: 4; // em

$line-height-h1:		rem(36 + $line-height-difference);
$line-height-h2:		rem(22 + $line-height-difference);
$line-height-h3:		rem(17 + $line-height-difference);
$line-height-h4:		rem(15 + $line-height-difference);
$line-height-h5:		$line-height-h4;
$line-height-h6:	    rem(13 + $line-height-difference);

$line-height-base:      rem(16 + $line-height-difference);


//== Alerts
//
//## Define alert colors, border radius, and padding.

$alert-height:				44px;
$alert-padding:				0 10px;
$alert-border-radius:		none;
$alert-border-width:		1px;
$alert-link-font-weight:	700;
$alert-font-color:			$gray80;

$alert-icon-margin:			0 10px 0 0;
$alert-icon-font-size:		22px;
$alert-close-margin:		0 0 0 20px;

$alert-success-bg:            mix($green10, $white, 25%);
$alert-success-text:          $alert-font-color;
$alert-success-border:        $green40;
$alert-success-icon:          $green40;

$alert-info-bg:               mix($blue10, $white, 25%);
$alert-info-text:             $alert-font-color;
$alert-info-border:           $blue30;
$alert-info-icon:             $blue30;

$alert-warning-bg:            mix($yellow10, $white, 25%);
$alert-warning-text:          $alert-font-color;
$alert-warning-border:        $yellow;
$alert-warning-icon:          $yellow;

$alert-danger-bg:             mix($red10, $white, 25%);
$alert-danger-text:           $alert-font-color;
$alert-danger-border:         $red50;
$alert-danger-icon:           $red50;




//** Box shadow value for modals, popovers, dropdowns, tooltips, etc.
$default-box-shadow:	          0 0 10px rgba($black, 0.16);
$default-box-shadow-overlayed:    0 0 10px rgba($black, 0.08); // for arrows


//== Popovers
//
//## Define

$popover-header-padding: 	15px 20px;
$popover-header-height: 	45px;
$popover-header-bg: 		$blue50;// $blue50
$popover-title-color: 		$white;

$popover-content-padding: 	30px 20px;
$popover-arrow-width:		20px;
$popover-arrow-height:		10px;

//== tooltips
//
//## Define

$tooltip-padding: 	11px 16px;
$tooltip-border: 	1px solid  $gray10;
$tooltip-max-width: 200px;
$tooltip-min-width: 146px;

$tooltip-highlight-border-width:	4px;


//== Radio
//
//## Define Radio colors, border radius, and padding.

$radio-type:            radio;
$radio-label-margin:    10px;
$radio-size:            20px;
$radio-border-radius:   20px;
$radio-selected-width:  12px;
$radio-selected-height: $radio-selected-width;

// small radio
$radio-sm-width:           16px;
$radio-sm-height:          $radio-sm-width;
$radio-selected-sm-width:  9px;
$radio-selected-sm-height: $radio-selected-sm-width;


//== Checkbox
//
//## Define checkbox colors, border radius, and padding.

$checkbox-type:            checkbox;
$checkbox-label-margin:    10px;
$checkbox-size:            20px;
$checkbox-border-radius:   0px;
$checkbox-selected-width:  12px;
$checkbox-selected-height: 6px;

// small checkbox
$checkbox-sm-width:           15px;
$checkbox-sm-height:          15px;
$checkbox-selected-sm-width:  10px;
$checkbox-selected-sm-height: 5px;



//== list-view
//
//## Define list-view colors, border, and padding.

$listview-bg:          $white;
$listview-padding:     11px 20px; // padding is 11 to make it 40 pixel height

$listview-border:      1px solid $gray10;
$listview-hover-bg:    $blue40-10;

$listview-active-border-color:  $white;
$listview-selected-border:		2px solid $blue50; // left border
$listview-selected-color: 		$blue50;



