$font-size: 14px;
$sm: 20px;
$md: 30px;
$lg: 40px;


//
// Colors
// --------------------------------------------------

//== Custom Colors.
$blue40-10:				#eef4fc;
$gray10-50:           	#efefef;
$blue60-50:				#3b6b9d;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               color("white", 0);
//** Global text color on `<body>`.
$text-color:            color("gray", 60);
//** Global textual link color.
$link-color:            color("blue", 50);
//** Link hover color set via `darken()` function.
$link-hover-color:      color("blue", 50);
//** Link hover decoration.
$link-hover-decoration: underline;

// refactor fonts
//== Typography
//
//
//## Font, line-height, and color for body text, headings, and more.


$font-family-base:       Arial, sans-serif;


$font-light:            100; // Helvetica light;
$font-roman:            300; // Helvetica roman
$font-roman-bold:       400; // Helvetica roman bold
$font-medium:           500; // Helvetica Medium
$font-bold:             700; // Helvetica Bold


$font-size-base:		rem(14);

$font-size-h1:          rem(36);
$font-size-h2:          rem(22);
$font-size-h3:          rem(17);
$font-size-h4:          rem(15);
$font-size-h5:          $font-size-h4;
$font-size-h6:          rem(13);

$line-height-difference: 4; // em

$line-height-h1:		rem(36 + $line-height-difference);
$line-height-h2:		rem(22 + $line-height-difference);
$line-height-h3:		rem(17 + $line-height-difference);
$line-height-h4:		rem(15 + $line-height-difference);
$line-height-h5:		$line-height-h4;
$line-height-h6:	    rem(13 + $line-height-difference);

$line-height-base:      rem(16 + $line-height-difference);


//== Alerts
//
//## Define alert colors, border radius, and padding.

$alert-height:				44px;
$alert-padding:				0 10px;
$alert-border-radius:		none;
$alert-border-width:		1px;
$alert-link-font-weight:	700;
$alert-font-color:			color("gray", 80);

$alert-icon-margin:			0 10px 0 0;
$alert-icon-font-size:		22px;
$alert-close-margin:		0 0 0 20px;

$alert-success-bg:            mix(color("green", 10), color("white", 0), 25%);
$alert-success-text:          $alert-font-color;
$alert-success-border:        color("green", 40);
$alert-success-icon:          color("green", 40);

$alert-info-bg:               mix(color("blue", 10), color("white", 0), 25%);
$alert-info-text:             $alert-font-color;
$alert-info-border:           color("blue", 30);
$alert-info-icon:             color("blue", 30);

$alert-warning-bg:            mix(color("yellow", 10), color("white", 0), 25%);
$alert-warning-text:          $alert-font-color;
$alert-warning-border:        color("yellow", 10);
$alert-warning-icon:          color("yellow", 10);

$alert-danger-bg:             mix(color("red", 10), color("white", 0), 25%);
$alert-danger-text:           $alert-font-color;
$alert-danger-border:         color("red", 50);
$alert-danger-icon:           color("red", 50);




//** Box shadow value for modals, popovers, dropdowns, tooltips, etc.
$default-box-shadow:	          0 0 10px rgba(color("black", 100), 0.16);
$default-box-shadow-overlayed:    0 0 10px rgba(color("black", 100), 0.08); // for arrows


//== Popovers
//
//## Define

$popover-header-padding: 	15px 20px;
$popover-header-height: 	45px;
$popover-header-bg: 		color("blue", 50);
$popover-title-color: 		color("white", 0);

$popover-content-padding: 	30px 20px;
$popover-arrow-width:		20px;
$popover-arrow-height:		10px;

//== tooltips
//
//## Define

$tooltip-padding: 	11px 16px;
$tooltip-border: 	1px solid color("gray", 10);
$tooltip-max-width: 200px;
$tooltip-min-width: 146px;

$tooltip-highlight-border-width:	4px;


//== Form
//
//## Define input colors, border radius, and padding.

$input-field-font: 300; // Helvetica Roman

$input-field-border: 1px solid color("gray", 50);
$input-field-color:			   color("gray", 60);

$input-field-border-hover: 	   color("gray", 50);
$input-field-border-focus: 	   color("gray", 50);
$input-field-border-disabled:  color("gray", 20);
$input-field-color-disabled:   color("gray", 20);


// sizes;
$input-field-height:     30px;
$input-field-height-sm:  20px;
$input-field-height-lg:  40px;

//padding
$input-field-padding: 	 0 10px;
$input-field-padding-lg: 0 20px;

//textarea
$text-area-padding: 	 10px;
$text-area-height: 	     114px;


//== Radio
//
//## Define Radio colors, border radius, and padding.

$radio-type:            radio;
$radio-label-margin:    10px;
$radio-size:            20px;
$radio-border-radius:   20px;
$radio-selected-width:  12px;
$radio-selected-height: $radio-selected-width;

// small radio
$radio-sm-width:           16px;
$radio-sm-height:          $radio-sm-width;
$radio-selected-sm-width:  9px;
$radio-selected-sm-height: $radio-selected-sm-width;


//== Checkbox
//
//## Define checkbox colors, border radius, and padding.

$checkbox-type:            checkbox;
$checkbox-label-margin:    10px;
$checkbox-size:            20px;
$checkbox-border-radius:   0px;
$checkbox-selected-width:  12px;
$checkbox-selected-height: 6px;

// small checkbox
$checkbox-sm-width:           15px;
$checkbox-sm-height:          15px;
$checkbox-selected-sm-width:  10px;
$checkbox-selected-sm-height: 5px;



//== list-view
//
//## Define list-view colors, border, and padding.

$listview-bg:          color("white", 0);
$listview-padding:     11px 20px; // padding is 11 to make it 40 pixel height

$listview-border:      1px solid color("gray", 10);
$listview-hover-bg:    color-tint(color("blue", 40), 90);

$listview-active-border-color:  color("white", 0);
$listview-selected-border:		2px solid color("blue", 50); // left border
$listview-selected-color: 		color("blue", 50);

//== tree-view
//
//## Define tree-view colors, border, and padding.

$treeview-padding:     10px;

$treeview-border:      1px solid color-tint(color("gray", 10), 50);
$treeview-hover-bg:    color-tint(color("blue", 40), 90);

$treeview-selected-border-color: color("blue", 50); // left border
$treeview-selected-color:        color("blue", 50);


//== Submenu
//
//## Define Submenu colors, border, and padding.

$submenu-padding:     10px 20px; // padding is 10 to make it 40 pixel height;

$submenu-bg:		  color("white", 0);
$submenu-border:      1px solid color-tint(color("gray", 10), 50);
$submenu-hover-bg:    color-tint(color("blue", 40), 90);

$submenu-selected-border-color: color("blue", 50); // left border
$submenu-selected-color:        color("blue", 50);



//== buttons
//
//## Define buttons colors, border, and padding.

$btn-border-width:  2px;
$btn-height-sm:		20px;
$btn-height:		30px;
$btn-height-lg:		40px;
$btn-height-xlg:	50px;
$btn-font--size-sm: rem(12);
$btn-padding: 		0 20px;
$btn-font: 			$font-roman; // roman



// btns array could be changed to variables
$btns: (
    primary: (
        color: 		     color("white", 0),
        bg:  	         color("blue", 50),
        brd-color:       color("blue", 50),
        brd-color-hover: color("blue", 60),
        bg-hover:        color("blue", 60),
        color-disabled:  color("gray", 30),
        bg-disabled:     color("gray", 20),
        brd-disabled:    color("gray", 20)
    ),
    secondary: (
        color:           color("blue", 50),
        bg:              color("white", 0),
        bg-hover:        color-tint(color("blue", 40), 90),
        brd-color:       color("blue", 50),
        color-disabled:  color("gray", 20),
        bg-disabled:     transparent,
        brd-disabled:    color("gray", 20),
        bg-focus:        color("blue", 60),
        color-focus:     color("white", 0),
        color-active:    color("white", 0),
        bg-active:       color("blue", 50)
    ),
    primary-bt: (
        color:           color("blue", 50),
        bg:              color("white", 0),
        brd-color:       color("white", 0),
        color-hover:     color("blue", 60),
        bg-hover:        color("white", 0),
        color-disabled:  color("gray", 30),
        bg-disabled:     color("gray", 20),
        brd-disabled:    color("gray", 20)
    ),
     secondary-bt: (
        color:           color("white", 0),
        bg:              transparent,
        brd-color:       color("white", 0),
        color-hover: 	 color("white", 0),
        bg-hover: 		 color-tint(color("blue", 60), 50),
        color-disabled:  color("gray", 20),
        bg-disabled: 	 transparent,
        brd-disabled: 	 color("gray", 20),
        bg-active: 		 color("white", 0),
        color-active: 	 color("blue", 50),
        color-focus: 	 color("blue", 60),
        bg-focus:        color("white", 0)
    ),
    gray-btn: (
        color: 			color("gray", 60),
        bg-color:       color("white", 0),
        brd-color: 		color("gray", 50),
        bg-hover: 		color-tint(color("gray", 50), 90),
        bg-active:      color("gray", 50),
        color-active:   color("white", 0),
        color-focus:    color("white", 0),
        bg-focus: 		color("gray", 60),
        color-disabled: color("gray", 20),
        bg-disabled:    transparent,
        brd-disabled:   color("gray", 20)
    )
);



//== Dropdowns
//
//## Define dropdowns colors, border, and padding.

$dropdown-font:      $font-roman;

$dropdown-height: 	 30px;
$dropdown-height-sm: 20px;
$dropdown-height-lg: 40px;

$dropdown-padding: 		0 10px;
$dropdown-padding-lg: 	0 20px;

// sizes
$dropdown-font-size-sm: rem(12);

//colors
$dropdown-color: 		  color("black", 100);
$dropdown-border: 		  1px solid  color("gray", 50);
$dropdown-bg-color: 	  color("white", 0);
$dropdown-bg-color-hover: rgba(color("blue", 40), 0.10);

$dropdown-submenu-bg-color:  color("white", 0);

//bg-disabled
$dropdown-color-disabled:          color("gray", 20);
$dropdown-border-disabled: 		   1px solid color("gray", 30);
$dropdown-bg-color-disabled-hover: color("white", 0);





//== topnav
//
//## Define topnav colors, border, and padding.

$topnav-bg-color:  color("gray", 80);
$topnav-color: 	   color("white", 0);
