$font-size: 14px;
$sm: 20px;
$md: 30px;
$lg: 40px;







//== Alerts
//
//## Define alert colors, border radius, and padding.

$alert-height:				44px;
$alert-padding:				0 10px;
$alert-border-radius:		none;
$alert-border-width:		1px;
$alert-link-font-weight:	700;
$alert-font-color:			$gray80;

$alert-icon-margin:			0 10px 0 0;
$alert-icon-font-size:		22px;
$alert-close-margin:		0 0 0 20px;

$alert-success-bg:            mix($green10, $white, 25%);
$alert-success-text:          $alert-font-color;
$alert-success-border:        $green40;
$alert-success-icon:          $green40;

$alert-info-bg:               mix($blue10, $white, 25%);
$alert-info-text:             $alert-font-color;
$alert-info-border:           $blue30;
$alert-info-icon:             $blue30;

$alert-warning-bg:            mix($yellow10, $white, 25%);
$alert-warning-text:          $alert-font-color;
$alert-warning-border:        $yellow;
$alert-warning-icon:          $yellow;

$alert-danger-bg:             mix($red10, $white, 25%);
$alert-danger-text:           $alert-font-color;
$alert-danger-border:         $red50;
$alert-danger-icon:           $red50;




//** Box shadow value for modals, popovers, dropdowns, tooltips, etc.
$default-box-shadow:	          0 0 10px rgba($black, 0.16);
$default-box-shadow-overlayed:    0 0 10px rgba($black, 0.08); // for arrows



//== Popovers
//
//## Define

$popover-header-padding: 	15px 20px;
$popover-header-height: 	45px;
$popover-header-bg: 		$blue50;// $blue50
$popover-title-color: 		$white;

$popover-content-padding: 	30px 20px;
$popover-arrow-width:		20px;
$popover-arrow-height:		10px;

//== tooltips
//
//## Define

$tooltip-padding: 	11px 16px;
$tooltip-border: 	1px solid  $gray10;
$tooltip-max-width: 200px;
$tooltip-min-width: 146px;

$tooltip-highlight-border-width:	4px;




