@import '~carbon-components/css/carbon-components';

html {
	height: 100%;
}

.sb-show-main:not(.full-page) {
	padding: 3em;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
