@import "~carbon-components/scss/globals/scss/styles.scss";

body {
	margin: 20px;
	// for tooltips/popovers ... can be on any chld element before the popover
	// but body is most conveient
	position: relative;
}
