//
// Banners
// --------------------------------------------------

// Mixins
// -------------------------
@import './banners.mixins';

// Base styles
// -------------------------
.body-banner {
	position: fixed;
	top: 0px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 1000;
	max-width: 704px;
	width: 100%;
	.banner {
		//This looks a lot better in my opinion
		margin-top: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
	}
}

.banner {
	position: relative;
	z-index: 1000;
	top: 0px;
	left: 0px;
	display: inline-block;
	clear: both;
	width:100%;
	color: $banner-font-color;
	padding: $banner-padding;
	min-height: $banner-height;
	border:$banner-border-width solid transparent;
	vertical-align: middle;
	animation-name: dropin;
    animation-duration: 0.25s;
	animation-timing-function: ease-in;
	@keyframes dropin {
		0%   {margin-top:-44px; z-index: 999}
		100% {margin-top:0px; z-index: 1000}
	}

		p {
			margin:0;
			padding: $banner-text-padding;
			display: inline-block;
			max-width: calc(100% - 50px);
			a {
				font-weight: 700;
				color:$banner-font-color;
			}
		}

		.close-btn {
			float: right;
			cursor: pointer;
			margin: 11px 0 0 20px;
			height: 20px;
			width: 20px;
			padding: 0;
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
			border: 1px solid transparent;

			&:hover, &:focus {
				border: 1px solid black;
			}

			& ~ p {
				max-width: calc(100% - 90px);
				float:left;
			}
			svg * {
				fill: color("gray", 80)
			}
		}

	.banner-icon{
		width: 30px;
		height: 30px;
		padding-top: 6px;
		vertical-align: top;
		margin-right: 10px;
		float: left;
	}
}

.banner-dropout {
	animation-name: dropout;
    animation-duration: 0.20s;
	animation-timing-function: ease-out;
	margin-top: -44px;
	z-index: 999;
	@keyframes dropout {
		0%   { margin-top: 0px; }
		100% { margin-top: -44px; }
	}
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the banner.

.banner-success {
	@include banner-variant($banner-success-bg, $banner-success-border, $banner-success-text);
}

.banner-info {
	@include banner-variant($banner-info-bg, $banner-info-border, $banner-info-text);
}

.banner-warning {
	@include banner-variant($banner-warning-bg, $banner-warning-border, $banner-warning-text);

}
.banner-danger {
	@include banner-variant($banner-danger-bg, $banner-danger-border, $banner-danger-text);
}
