//
// Popovers and Tooltips
// --------------------------------------------------

// Popovers
// -------------------------

.popover-wrapper {
	position: absolute;
	z-index: 1000;
}

.popover-menu-button {
	padding-left: 4px;  // 6px from the dot to the side of the icon + these 4px to get to desired 10px
	padding-right: 10px;
	color: color("gray", 50);
	font-weight: 300;
	height: $btn-height - 1px;  // border adds a pixel
	border-bottom: 1px solid transparent;

	cdl-glyphicon {
		padding-right: 1px;  // 6px from the dot to the side of the icon + this pixel to get to desired 7px
	}

	&:hover, &.popover-selected {
		color: color("blue", 50);
		border-bottom: 1px solid color("blue", 50);
		cdl-glyphicon .cdl-glyphicon {
			svg * {
				fill: color("blue", 50);
			}
		}
	}
}

.popover {
	@include box-shadow($default-box-shadow);
	background-color: color("white", 0);
	position: relative;
	max-width: 280px;

	&.popover-menu {
		min-width: 130px;
		.popover-header {
			height: 30px;
			padding: 6px 10px;
			.popover-title {
				margin: 0;
				margin-right: 20px;
				font-size: 13px;
			}
			.close-icon {
				padding: 2px;
				margin: 0;
				height: 18px;
				display: flex;
			}
		}
		.popover-content ul.list-view {
			overflow: hidden;
			margin-top: -2px; // hide last border-bottom
			li {
				padding: 6px 10px 6px 0;
				height: 30px;
				border: 0;
				font-size: 13px;
				margin-bottom: 0;
				margin-top: 1px;
				border-left: 3px solid transparent;
				div {
					width: 100%;
					border-top: $listview-border;
					margin-left: 10px;
					padding-top: 5px;
					position: relative;
					top: -7px;
					span {
						position: relative;
						top: 2px;
					}
				}
				&:hover, &:focus {
					margin-top: 1px;
					border-left: 3px solid color("blue", 50);
					div {
						border-top: 1px solid transparent;
					}
					& + li {
						div {
							border-top: 1px solid transparent;
						}
					}
				}
			}
		}
	}

	.popover-header {
		padding: $popover-header-padding;
		height: $popover-header-height;
		background-color: $popover-header-bg;
		.popover-title {
			color: $popover-title-color;
			margin: 5px 25px 5px 5px;
			float: left;
			max-width: 890px;
			@include text-overflow();
		}
		.close-icon {
			float: right;
			border: 1px solid rgba(0,0,0,0); // invisible border to compensate shift
			padding: 3px;
			margin: 3px 0;
			height: 24px;
			svg * {
				fill: color("white", 0);
			}
			&:hover {
				border: 1px solid color("white", 0);
			}
			&:focus {
				border: 1px solid color("white", 0);
			}
		}
	}
	.popover-content {
		padding: $popover-content-padding;
		overflow: auto;
	}
	.arrow {
		@include arrow($popover-arrow-width, $popover-arrow-height, color("white", 0), $default-box-shadow-overlayed);
	}
	&.top {
		.arrow {
			bottom: - $popover-arrow-height;
			left: calc(50% - 10px);
		}
	}
	&.top-left {
		.arrow {
			bottom: - $popover-arrow-height;
			left: 0;
			transform: scaleX(-1);
			@include diagonal-arrow($popover-arrow-width, $popover-arrow-height, color("white", 0), $default-box-shadow-overlayed);
		}
	}
	&.top-right {
		.arrow {
			bottom: - $popover-arrow-height;
			right: 0px;
			@include diagonal-arrow($popover-arrow-width, $popover-arrow-height, color("white", 0), $default-box-shadow-overlayed);
		}
	}
	&.bottom {
		.arrow {
			top: - $popover-arrow-height;
			left: calc(50% - 10px);
			transform: rotate(180deg);
		}
		.popover-header ~ .arrow:after {
			background-color: $popover-header-bg;
		}
	}
	&.bottom-left {
		.arrow {
			top: - $popover-arrow-height;
			left: 0;
			transform: rotate(180deg);
			@include diagonal-arrow($popover-arrow-width, $popover-arrow-height, color("white", 0), $default-box-shadow-overlayed);
		}
		.popover-header ~ .arrow:after {
			background-color: $popover-header-bg;
		}
	}
	&.bottom-right {
		.arrow {
			top: - $popover-arrow-height;
			right: 0;
			transform: rotate(180deg) scaleX(-1);
			@include diagonal-arrow($popover-arrow-width, $popover-arrow-height, color("white", 0), $default-box-shadow-overlayed);
		}
		.popover-header ~ .arrow:after {
			background-color: $popover-header-bg;
		}
	}
	&.left {
		.arrow {
			right: -15px;
			transform: rotate(270deg);
		}
		.popover-header ~ .arrow {
			top: 60px;
		}
	}
	&.right {
		.arrow {
			left: -15px;
			transform: rotate(90deg);
		}
		.popover-header ~ .arrow {
			top: 60px;
		}
	}


	// tooltip
	// -------------------------
	&.tooltip {
		min-width: $tooltip-min-width;
		max-width: $tooltip-max-width;

		.popover-content {
			border: $tooltip-border;
			padding: $tooltip-padding;
		}

		.arrow::after {
			border: $tooltip-border;
		}

		&.top, &.bottom, &.right, &.left {
			border-color: color("blue", 50);
			border-width: 0;
			border-style: solid;

			&.danger {
				border-color: color("red", 50);
			}
			&.warning {
				border-color: color("yellow", 10);
			}
		}
		&.top {
			border-top-width: $tooltip-highlight-border-width;
			.popover-content {
				border-top: 0;
			}
			.arrow {
				margin-bottom: 1px;
			}

		}
		&.bottom {
			border-bottom-width: $tooltip-highlight-border-width;
			.popover-content {
				border-bottom: 0;
			}
			.arrow {
				margin-top: 1px;
			}
		}
		&.left {
			border-left-width: $tooltip-highlight-border-width;
				.popover-content {
					border-left: 0;
					padding-left: 10px;
			}
			.arrow {
				top: calc(50% - 5px);
				margin-right: 1px;
			}

		}
		&.right {
			border-right-width: $tooltip-highlight-border-width;
			.popover-content {
				border-right: 0;
				padding-right: 10px;
			}
			.arrow {
				top: calc(50% - 5px);
				margin-left: 1px;
			}
		}

		&.click {
			.popover-content {
				padding-right: 30px;
				.close-icon {
					position: absolute;
					padding: 2px;
					top: 0;
					right: 0;
					line-height: 0;
					margin: 8px;  // together with padding it makes 10px from icon
					border: 1px solid transparent;

					svg * {
						fill: color("gray", 50);
					}

					&:hover, &:focus {
						border: 1px solid color("gray", 50);
					}
				}
			}
		}
	}



	// Accessibility
	// -------------------------

	.a11y & {
		border: 1px solid color("black", 100);
		.popover-header {
			border-bottom: 1px solid color("black", 100);

			svg * {
				fill: color("black", 100)
			}
		}
		.arrow:after {
			border: 1px solid color("black", 100);
		}
	}
}

// Custom popover attribute classes

.popover-content-fullwidth {
	.popover-content {
		padding: 0;
	}
}

.popover-content-filter {
	&.popover {
		&.right, &.left {
			.arrow {
				top: 17px;
			}
			.popover-header ~ .arrow:after {
				background-color: $popover-header-bg;
			}
		}
	}

	.popover-content {
		padding: 0;
	}
}
