.ellipsis {
	display: inline-block;
	overflow: hidden;
	width: 150px;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 5px;
}

.large-tooltip-number {
	font-size: 22px;
	margin: 0 15px 0 0;
	font-weight: 200;
}

.tooltip-date {
	margin: 10px 0 2px 0;
}
