.modal-wrapper {
	position:fixed;
	height: $modal-wrapper-height;
	width: $modal-wrapper-width;
	z-index: 1000;
	left: 0;
	top:0;
	padding: $modal-wrapper-padding;
}

.modal {
	text-align:left;
	z-index: 1001;
  position: relative;
  min-height: $modal-min-height;
  background-color: $modal-bg;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.15);
  &.modal-size-xl {
    max-width: $modal-size-xl;
  }
  &.modal-size-sm {
    max-width: $modal-size-sm;
  }
  &.modal-size-md {
    max-width: $modal-size-md;
  }
  &.modal-size-lg {
    max-width: $modal-size-lg;
  }
  &.modal-size-xxl {
    max-width: $modal-size-xxl;
    height: $modal-size-height-xxl;
  }
  header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: $modal-header-width;
		height: $modal-header-height;
		color: $modal-header-text;
		padding: $modal-header-padding;
		font-size: $modal-header-font-size;
		background-color: $modal-header-bg;
		&.error {
			background-color: $modal-header-error-bg;
		}
		.header-text {
			margin: $modal-header-text-margin;
			padding: $modal-header-text-padding;
			height: $modal-header-text-height;
			line-height: $modal-header-text-line-height;
		}
		.close-icon {
  		display: flex;
			float: right;
			justify-content: center;
			height: $modal-close-icon-height;
			width: $modal-close-icon-width;
			padding: $modal-close-icon-padding;
			svg {
				* {
					fill: $modal-close-icon-svg-colour;
				}
				height: $modal-close-icon-svg-height;
				width: $modal-close-icon-svg-width;
			}
			&:hover, &:focus {
				border: $modal-close-icon-border $modal-close-icon-border-color;
			}
		}
	}
	.icon-remove {
	  cursor: pointer;
	  padding: $modal-icon-remove-padding;
	  padding-bottom: $modal-icon-remove-padding-bottom;
	  &:hover {
	    padding-right: $modal-icon-remove-hover-padding-right;
	    border: $modal-icon-remove-hover-border $modal-icon-remove-hover-border-color;
	  }
	}
	footer {
		height: $modal-footer-height + 1px;  // border eats a pixel
		width: $modal-footer-width;
		padding: $modal-footer-padding;
		border-top: $modal-footer-border-top $modal-footer-border-top-color;
		position: absolute;
		bottom: 0;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	background-color: $modal-overlay-bg;
	height: $modal-overlay-height;
	width: $modal-overlay-width;
	z-index: 1000;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="email"] {
  -webkit-appearance: none;
  border-radius: 0;
}
