///////////////////////////////////////
// Modal vars
///////////////////////////////////////
$modal-backdrop-bg:         color("gray", 80, 0.5) !default;
$modal-backdrop-padding-x:  $spacer !default;

$modal-bg:              color("white", 0) !default;
$modal-max-height:      calc(100vh - 160px) !default; // 80px top & bottom margin
$modal-xxl-max-height:  calc(100vh - 40px) !default; // 20px top & bottom margin

$modal-width-default-key: md !default;
$modal-widths: (
  sm: 320px,
  md: 640px, // default
  lg: 900px,
  xl: 980px,
  xxl: 100%
) !default;

$modal-nags: (
  warning: (
    header-bg: color("yellow", 10),
    header-color: color("gray", 80)
  ),
  error: (
    header-bg: color("red", 50),
    header-color: color("white", 0)
  )
) !default;

$modal-header-height:       44px !default;
$modal-header-bg:           color("blue", 50) !default;
$modal-header-padding-x:    $spacer !default;
$modal-header-color:        color("white", 0) !default;
$modal-header-font-size:    $font-size-h4 !default;
$modal-header-font-weight:  $font-weight-h4 !default;

$modal-body-padding-x:  $spacer !default;
$modal-body-padding-y:  $spacer !default;

$modal-footer-padding-x:    $spacer !default;
$modal-footer-padding-y:    map-get($spacers, 2) !default;
$modal-footer-border-top:   $stroke-width solid $stroke-color !default;

///////////////////////////////////////
// Modal mixins
///////////////////////////////////////

//
// Base styles
// ====================================

@mixin m_modal($size: $modal-width-default-key) {
  @include m_modal-size($size);

  display: flex;
  position: relative;
  top: 50%;
  flex-direction: column;

  margin: auto;
  transform: translate(0, -50%);

  background: $modal-bg;
  overflow: hidden;

  z-index: $zindex-modal;
}

//
// Sizes
// ====================================

@mixin m_modal-size($size: $modal-width-default-key) {
  width: map-get($modal-widths, $size);

  @if $size == xxl {
    height: map-get($modal-widths, $size);
    max-height: $modal-xxl-max-height;
  } @else {
    max-height: $modal-max-height;
  }
}

//
// Nags
// ====================================

@mixin m_modal-nag($nag) {
  $styles: map-get($modal-nags, $nag);

  .modal_header {
    background: map-get($styles, header-bg);

    .header_title {
      color: map-get($styles, header-color);
    }
  }
}

//
// Footer
//
// 1. Disable "flex-shrink".
// 2. Right align buttons with flex property because text-align doesn't work on flex items.
// ====================================

@mixin m_modal-footer {
  display: flex;
  flex: none; // 1
  justify-content: flex-end; // 2

  padding: $modal-footer-padding-y $modal-footer-padding-x;
}


///////////////////////////////////////
// Modal
///////////////////////////////////////

//
// Helper classes
//
// 1. Kill the scroll on the body.
// ====================================

.modal-open {
  overflow: hidden; // 1
}

//
// Container and backdrop
// ====================================

.modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding-right: $modal-backdrop-padding-x;
  padding-left: $modal-backdrop-padding-x;

  background: $modal-backdrop-bg;
  overflow: hidden;

  z-index: $zindex-modal-backdrop;

  // When fading in the modal, animate it to slide down
  // &.fade .modal-dialog {
  //   @include transition($modal-transition);
  //   transform: translate(0, -25%);
  // }
  // &.show .modal-dialog { transform: translate(0, 0); }
}

//
// Generate modal classes
//
// 1. Size variations
// 2. Do not create a class for the default size.
// 3. Contextual nags
// ====================================

.modal {
  @include m_modal;
}

// 1
@each $size in map-keys($modal-widths) {
  @if $size != $modal-width-default-key { // 2
    .modal--#{$size} {
      @include m_modal($size);
    }
  }
}

// 3
@each $nag in map-keys($modal-nags) {
  .modal--#{$nag} {
    @include m_modal(sm);
    @include m_modal-nag($nag);
  }
}

//
// Header
//
// Top section of the modal w/ title, breadcrumbs, and dismiss.
//
// 1. Disable "flex-shrink".
// 2. Vertically center child elements.
// 3. Put modal header elements (title/breadcrumbs and dismiss) on opposite ends.
// ====================================

.modal_header {
  display: flex;
  flex: none; // 1
  align-items: center; // 2
  justify-content: space-between; // 3

  height: $modal-header-height;
  padding-right: $modal-header-padding-x;
  padding-left: $modal-header-padding-x;

  background: $modal-header-bg;

  .header_title {
    margin-bottom: 0;

    color: $modal-header-color;
    font-size: $modal-header-font-size;
    font-weight: $modal-header-font-weight;
    line-height: normal;
  }
}

//
// Body
//
// Where all modal content resides, and
// sibling of `.modal_header` and `.modal_footer`.
//
// 1. Enable "flex-grow" so that the body takes up as much space as possible
// if there is ever a fixed height on `.modal`, ie: `.modal--xxl`.
// ====================================

.modal_body {
  position: relative;
  flex: auto; // 1
  padding: $modal-body-padding-y $modal-body-padding-x;
  overflow-y: auto;
}

//
// Footer
//
// Where all action buttons reside.
// ====================================

.modal_footer {
  @include m_modal-footer;
}

.modal_footer--border {
  @include m_modal-footer;

  border-top: $modal-footer-border-top;
}
