.alert-banner {
	padding: 8px 10px 8px 10px;
	position: absolute;
	z-index: 10000;
	width: 100%;
	height: 46px;
	top: 0px;

	.alert-icon {
		display: inline-block;
		float: left;
	}

	.message-container {
		display: inline-block;
		float: left;
		margin-left: 10px;
		line-height: 30px;
	}

	&.info {
		border: solid 1px $blue30;
		background: $blue10;

		svg {
			fill: $blue40;
		}
	}

	&.error {
		border: solid 1px $red30;
		background: $red10;

		svg {
			fill: $red;
		}
	}

	&.warning {
		border: solid 1px $yellow30;
		background: $yellow10;

		svg {
			fill: $yellow;
		}
	}

	&.success {
		border: solid 1px $green30;
		background: $green10;

		svg {
			fill: #5ba845;
		}
	}

	button.clear-button {
		position: absolute;
		right: 10px;
		top: 5px;

		svg {
			fill: $gray80;
		}
	}
}