//
// List view
// --------------------------------------------------

// Base style
//
// Easily usable on <ul>, <ol>, or <div>.
// USE PROPER SEMANTIC

.list-view {

	@extend .list-unstyled;

	> * {
		padding: $listview-padding;
		border: $listview-border;
		margin-bottom: -1px;

		&:hover, &.selected, &:focus {
			margin: -1px 0;
			border-color: $listview-active-border-color $listview-hover-bg;
			background-color:$listview-hover-bg;
			position: relative;
			z-index: 1
		}

		&.selected {
			color:$listview-selected-color;
			font-weight: bold;
			&:before{
				content:'';
				height: 100%;
				left:-1px;
				top:0;
				position: absolute;
				border-left:$listview-selected-border;
			}
		}
		&.disabled {
			&:hover, &:focus {
				border: $listview-border;
				background-color: color("white", 0);
			}
		}
		&:last-child {
			margin-bottom:0;
		}
		&:first-child {
			&:hover, &.selected, &:focus {
				margin-top:0;
			}
		}


		.checked {
			float: right;
			position: relative;
			vertical-align: middle;
			@extend .badge;
			&:before{
				content:'';
				border-right: 1px solid color("white", 0);
				border-bottom: 1px solid color("white", 0);
				transform: rotate(45deg);
				position: absolute;
				left: 6px;
				top: 3px;
				height: 8px;
				width: 4px;
			}
		}
	}
}
