.nested-view {
	list-style: none;

	li {
		padding-left: 0px;
		margin-left: 0px;

		div {
			padding-left: 40px;
			padding-top: 12.5px;
			padding-bottom: 12.5px;
			border: 1px solid $gray10;
			position: relative;

			&:hover, &:focus {
				background: rgba($blue40, 0.10);
			}

			&:focus {
				border-left: 2px solid $blue50;
					outline: 1px solid $blue50;
					outline-offset: 1px;
			}

			&.selected {
				border-left: 2px solid $blue50;
				color: $blue50;
				font-weight: bold;
				background: rgba($blue40, 0.10);

				.arrow {
					-ms-transform: rotate(90deg); /* IE 9 */
					-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
					transform: rotate(90deg);
				}
			}

			.arrow {
				position: absolute;
				left: 10px;
			}

			.selected-check {
				display: inline-block;
				vertical-align: middle;
				height: 18px;
				width: 18px;
				border-radius: 20px;
				border: 1px solid $white;
				background: $blue50;
				float: right;
				margin-right: 20px;

				svg {
						background: $blue50;
						border-radius: 20px;
						path:first-child {
							fill: $blue50;
						}
						path:last-child {
							fill: $white;
						}
				}
			}
		}
	}

	ul {
		display: none;
		padding-left: 20px;

		&.open {
			display: block;
		}
	}
}
