//
// Treeview
// --------------------------------------------------
.tree-view {
    &, ul{
        @extend .list-unstyled;
		li {
			// border-bottom: 1px solid white;
			&:last-child {
				border-bottom: none;
			}
		}
    }
    .item-wrapper {
        border-left: 3px solid transparent;
		position: relative;
        .item {
            padding-right: 20px;
            height: 35px;
			position: relative;
			display: flex;
			align-items: center;
			&:after {
				content: "";
				display: block;
				position: absolute;
				width: 100%;
				height: 1px;
				bottom: 0px;
				left: 0;
				background: color("gray", 10);
			}
			label, .label {
				font-weight: 200;
			}
			span:not(.label) {
				text-overflow: ellipsis;
				max-width: 100%;
				overflow: hidden;
				white-space: nowrap;
			}
        }
		.item:not(.disabled) {
			cursor: default;
		}
        &:hover:not(.disabled), &:focus:not(.disabled) {
			background-color: $treeview-hover-bg;
			&:before {
				content: "";
				display: block;
				position: absolute;
				height: 35px;
				width: 1px;
				left: -3px; // account for the 3px border
				top: 0;
				background: color("blue", 50);
			}
		}

        .arrow {
            margin-left: -25px;
            margin-right: 5px;
            vertical-align: middle;
            transition: transform 0.1s linear;
			position: absolute;
			left: 0;
			top: 9px;
			width: 16px;
			height: 16px;
        }

        &.selected {
            border-left-color: $treeview-selected-border-color;
			background-color: $treeview-hover-bg;
            font-weight: 700;
            color: $treeview-selected-color;
			.item {
				label, .label {
					font-weight: 700;
					color: #595859;
				}
			}
        }
		&.opened {
			.arrow {
                transform: rotate(90deg);
            }
		}
    }
	ul {
		display: none;
		&.open {
			display: block;
		}
	}
}
