//
// Treeview
// --------------------------------------------------

// Base style


.tree-view{
    &, ul{
        @extend .list-unstyled;
    }
    .item-wrapper {
        border-left:2px solid transparent;
        .item{
            padding:$treeview-padding $treeview-padding $treeview-padding 0;
            border-top:$treeview-border;
        }
        &:hover, &:focus,  &.selected {
            background-color:$listview-hover-bg;
        }
        .arrow{
            margin-left:-25px;
            margin-right: 5px;
            vertical-align: middle;
            transition: all 0.5s;
        }
        &.selected{
            border-left-color:$treeview-selected-border-color;
            font-weight: 700;
            color:$treeview-selected-color;
            .arrow{
                transform: rotate(90deg);
            }
        }
    }
	&.disabled {
		&:hover, &:focus {
			background: color("white", 0);
			border-left: 2px solid transparent;
		}
	}
    .badge{
        float: right;
        position: relative;
        vertical-align: middle;
        height: 18px;
        min-width: 18px;
        padding:0 5px;
        border-radius: 18px;
        border: 1px solid color("white", 0);
        background-color: color("blue", 50);
        color:color("white", 0);
        text-align: center;
        font-size: rem(12);
        line-height: 1rem;
    }
    .checked {
        @extend .badge;
        &:before{
            content:'';
            border-right: 1px solid color("white", 0);
            border-bottom: 1px solid color("white", 0);
            transform: rotate(45deg);
            position: absolute;
            left: 6px;
            top: 3px;
            height: 8px;
            width: 4px;
        }
    }
	ul {
		display: none;

		&.open {
			display: block;
		}
	}

}

