//
// Leftnav
// --------------------------------------------------

// Base style

.left-nav {
	width: $sidenav-width;
	height: 100%;
	background-color: color("gray", 70);
	position: absolute;
	left: -$sidenav-width - 10px;
	transition: left 0.2s ease;
	padding: 0;
	z-index: 2;
	overflow: hidden;

	.left-nav-container {
		position: relative;
		height: 100%;
		left: 0px;
		transition: left 0.2s ease;
	}

	// level one
	.side-nav-item-wrapper {
		width: 100%;
		height: $sidenav-item-height + 1; // border compenstation
		border-bottom: 1px solid color("white");

		.side-nav-item-button {
			font-weight: 600;
			height: $sidenav-item-height;
			width: 100%;
			color: white;
			text-align: left;
			position: relative;
			padding: 0;
			.side-nav-arrow {
				fill: color("white", 0);
				position: absolute;
				right: 0;
				top: ($sidenav-item-height - 16px) / 2; // 16px is height of the arrow
				margin-right: 15px;
				margin-left: 0;
				transform: rotate(90deg);
				transition: transform 0.1s linear;
			}
			&.selected {
				&:after {
					position: absolute;
					content: "";
					display: block;
					height: 44px;
					width: 2px;
					background: color("blue", 50);
					left: 0;
					top: 0;
				}
				background: color("blue", 50);
				.side-nav-arrow {
					transform: rotate(90deg) scaleX(-1);
				}
			}
			&:hover, &:focus {
				background: color("blue", 50);
				@include inside-white-border;
			}
		}
		.side-nav-glyph {
			display: inline-block;
			background: color("blue", 50);
			width: $sidenav-item-height;
			height: $sidenav-item-height;
			left: 0;
			top: 0;
			text-align: center;
			vertical-align: middle;
			// border-bottom: 1px solid color("gray", 10);
			svg {
				* {
					fill: color("white", 0);
				}
				position: relative;
				top: ($sidenav-item-height - 20px) / 2;  // 20px is icon height
			}
		}
		.side-nav-item {
			position: absolute;
			top: ($sidenav-item-height - 14px) / 2;  // 14px is font-size
			left: $sidenav-item-height + 20px;
			display: inline-block;
			@include text-overflow;
			width: $sidenav-width - $sidenav-item-height - 15px - 20px - 16px - 6px;  // width - glyphicon - padding - arrow margin - arrow width - some margin
			vertical-align: middle;
		}
	}

	.side-nav-sub-item {
		background-color: color("white", 0);
		color: color("gray", 60);

		// level two
		.side-nav-item-wrapper {
			border-bottom: 1px solid color("gray", 10);

			.side-nav-item-button {
				font-weight: 300;
				color: color("gray", 60);
				border-left: 1px solid transparent;
				.side-nav-item {
					left: 44px;
					width: $sidenav-width - $sidenav-item-height - 15px;  // width - padding - some margin
				}
				&:hover, &:focus {
					&:before {
						display: none;  // removes white inner border
					}
					background: color("blue", 40, 0.1);
					border-left: 1px solid color("blue", 50);
				}
				&.selected {
					font-weight: 600;
					background: color("blue", 40, 0.1);
					border-left: 3px solid color("blue", 50);
					left: -2px;  // compensate for a wider-than-default border
				}
				.side-nav-arrow {
					transform: rotate(0deg);
					fill: color("gray", 50);
				}
			}

			.side-nav-pane-sub-template + .side-nav-item-button .side-nav-item {
				width: $sidenav-width - $sidenav-item-height - 15px - 16px - 6px;  // width - padding - arrow margin - arrow width - some margin
			}
		}
	}

	.hide-side-nav-sub-item {
		display: none;
	}

	.side-nav-pane-sub-template {
		position: absolute;
		background: color("white", 0);
		top: 0;
		left: $sidenav-width;
		width: $sidenav-width;
		height: 100%;
		display: none;
	}

	.side-nav-pane-sub-template-visible {
		left: -$sidenav-width;
	}

	.side-nav-pane-visible {
		display: block;
	}

	cdl-side-nav-pane-title {
		.side-nav-pane-title {
			height: $sidenav-item-height;
			width: 100%;
			color: color("white", 0);
			text-align: left;
			padding: 0;
			background: color("blue", 50);
			line-height: 20px;
			@include text-overflow;
			padding-right: 15px;
			.side-nav-arrow {
				fill: color("white", 0);
				float: left;
				margin-right: 15px;
				margin-left: 15px;
				transform: rotate(180deg);
				transition: transform 0.1s linear;
				border: 1px solid transparent;
				padding: 2px;
				width: 20px;
				height: 20px;
			}
			&:focus, &:hover {
				.side-nav-arrow {
					border: 1px solid color("white");
				}
			}
		}
	}

	@include unselectable;

	&.isOpen {
		left: 0;
	}

	// Accessibility
	// -------------------------

	.a11y & {
		border: 1px solid color("black", 100);
		svg * {
			fill: color("black", 100);
		}
	}
}

.left-nav-fixed {
	position: fixed;
	top: $topnav-height;
}

html[dir=rtl], body[dir=rtl] {
	.left-nav {
		left: auto;
		right: -$sidenav-width - 10px;
		transition: right 0.2s ease;

		.left-nav-container {
			left: auto;
			right: 0;
			transition: right 0.2s ease;
		}

		// level one
		.side-nav-item-wrapper {
			.side-nav-item-button {
				text-align: right;
				.side-nav-arrow {
					right: auto;
					left: 0;
					margin-right: 0;
					margin-left: 15px;
				}
				&.selected {
					&:after {
						left: auto;
						right: 0;
					}
				}
			}
			.side-nav-glyph {
				left: auto;
				right: 0;
			}
			.side-nav-item {
				left: auto;
				right: $sidenav-item-height + 20px;
			}
		}
		.side-nav-sub-item {
			// level two
			.side-nav-item-wrapper .side-nav-item-button {
				.side-nav-item {
					left: auto;
					right: 44px;
				}
				.side-nav-arrow {
					transform: rotate(180deg); //rotate(0deg);
				}
			}
		}

		.side-nav-pane-sub-template {
			left: auto;
			right: $sidenav-width;
		}

		.side-nav-pane-sub-template-visible {
			right: -$sidenav-width;
		}

		cdl-side-nav-pane-title {
			.side-nav-pane-title {
				text-align: right;
				padding: 0;
				padding-left: 15px;
				.side-nav-arrow {
					float: right;
					transform: rotate(0deg); //rotate(180deg);
				}
			}
		}

		&.isOpen {
			right: 0;
		}
	}
}
