.n-list {
	padding-left: 5px;
	padding-right: 5px;
	z-index: 3;
	height: 100%;
	background: white;
}

.main {
	width: 100%;
	padding-right: 5px;
}

@media (min-width: 0px) {
	.n-list {
		position: relative;
		width: 100%;
	}

	.main {
		padding-left: 5px;
	}
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
	.n-list {
		width: 300px;
		position: absolute;
	}

	.main {
		padding-left: 310px;
	}

	html[dir=rtl], body[dir=rtl] {
		.main {
			padding-left: 5px;
			padding-right: 310px;
		}
	}
}

@media (min-width: 1200px) {
	body {
	    max-width: 1200px;
	    margin: 0 auto;
	}
}
