name: Check build

on:
  push:
    branches: [ master, next ]
  pull_request:
    branches: [ master, next ]

jobs:
  build:

    runs-on: ubuntu-latest

    # We use Node v18 for building since CCA@v5 is using Angular 14.
    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: Run build
      run: |
        npm i
        npm run ng:build --if-present
        cd dist
        npm pack
    - name: Upload dist
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: dist/carbon-components-angular-0.0.0.tgz
        if-no-files-found: error

  app-build:
    needs: build

    runs-on: ubuntu-latest

    # We use Node v20 for building since it is current lts. Node v16 is no longer supported in Angular 17.
    strategy:
      matrix:
        angular-version: [14, 15, 16, 17, 18]
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: Download dist
      uses: actions/download-artifact@v3
      with:
        name: dist
    - run: |
        npm i
        npm i ./../../carbon-components-angular-0.0.0.tgz
        npm run build
        npm run build -- --configuration production
      working-directory: integration/ng${{ matrix.angular-version }}
